
  
  * {
    margin: 0;
    padding: 0;
    text-transform: none;
    text-decoration: none;
    color: inherit;
    box-sizing: border-box;
}
.page {
    font-family: 'Roboto', sans-serif;
    color: #1c1c1c;
    &__header {
        height: 17vw;
        background: url('../img/desktop/header.jpg') no-repeat;
        background-size: cover;
    }
    &__footer {
        height: 27vw;
        background: url('../img/desktop/footer.jpg') no-repeat;
        background-size: cover;
    }
    &__wrapper {
        width: 1200px;
        margin: auto;
        overflow: hidden;
    }
}


.menu {
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar { width: 0; }

    &__container {
        width: 1200px;
        height: 88px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        list-style-type: none;
    }

    &__item {
        width: 168px;
        padding: 0px 27px;
        text-align: center;
        position: relative;

        &:before {
            content: '';
            display: block;
            position: absolute;
            right: 0px;
            top: 7px;
            height: 24px;
            border-right: solid 1px #aeaeae;
        }

        &:last-child:before {
            content: '';
            display: none;
            border: none;
        }
    }
    &__link:hover {
        color: #00c179;
    }
}
.collection {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-row-gap: normal;
    grid-column-gap: normal;
    &__item {
        height: 845px;
        z-index: 3;
        position: relative;
        margin-top: -110px;
    }
    &__item-1 {
        height: 744px;
        top: -72px;
    }
    &__item-left {
        margin-top: -285px;
    }
    &__head {
        height: 522px;
        z-index: 1;
        grid-row: 1;
        grid-column: 1/3;
        height: 522px;
    }
    &__foot {
        position: relative;
        margin-top: -300px;
        height: 697px;
        z-index: 2;
        grid-row: 5;
        grid-column: 1/3;
    }
}

.item-head {
    background: url('../img/desktop/1.jpg') no-repeat;
    background-size: cover;
    position: relative;
    &__title {
        margin: 56px auto auto;
        width: 620px;
        height: 160px;
        opacity: 0.9;
        border-radius: 5px;
        background-color: #ffffff;
        text-align: center;
        color: #354656;
        display: flex;
        flex-direction: column;
        justify-content: center;
        & h1 {
            text-transform: uppercase;
            font-family: sans-serif;
            font-size: 46px;
            font-weight: 900;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.8;
            letter-spacing: normal;
        }
        & h5 {
            font-size: 32px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.47;
            letter-spacing: normal;
        }
    }
    &__button {
        display: block;
        width: 288px;
        height: 56px;
        text-align: center;
        border-radius: 41px;
        font-size: 22px;
        margin: 48px auto;
        line-height: 2.5;
    }
}
.item {
    position: relative;
    &_direction-left:after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        top: 0px;
        position: absolute;
        z-index: -1;
        -webkit-clip-path: polygon(0 0, 600px 12%, 600px 88%, 0 100%);
        clip-path: polygon(0 0, 600px 12%, 600px 88%, 0 100%);
    }
    &_direction-right:after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        top: 0px;
        position: absolute;
        z-index: -1;
        -webkit-clip-path: polygon(0 12%, 600px 0, 600px 100%, 0 88%);
        clip-path: polygon(0 12%, 600px 0, 600px 100%, 0 88%);
    }
    &__title {
        font-size: 30px;
        font-weight: 500;
        text-transform: uppercase;
        line-height: 1.07;
        width: 228px;
        text-align: center;
        &_white {
            color: white;
        }
        &_brown{
            color: #877277;
        }
    }
    &__point {
        position: absolute;
        font-size: 14px;
        line-height: 1;
        width: 24px;
        height: 24px;
        text-align: center;
        font-weight: 900;
        color: white;
        padding: 5px;
        border-radius: 15px;
        &-pink {
            background: #f36285;
        }
        &-gray {
            background: #998d8d;
            width: 16px;
            height: 16px;
            font-size: 10px;
            padding: 4px;
            left: 0px;
            top: 0px;
        }
    }
    &__pricelist {
        position: absolute;
        top: 540px;
        left: 2%;
    }
    &__button {
        bottom: 53px;
        position: absolute;
        width: 208px;
        height: 56px;
        color: #ffffff;
        line-height: 56px;
        font-size: 22px;
        border-radius: 41px;
        background-color: #f56086;
        text-align: center;
    }
}
.item-1 {
    
    &:after {
        background: #feeae9;
    }
    &__title {
        position: absolute;
        top: 108px;
        left: 349px;
    }
    &__first img {
        position: absolute;
        left: -10px;
        top: 0px;
        width: 314px;
    }
    &__second img {
        position: absolute;
        right: 0px;
        top: 112px;
        width: 286px;
    }
    &__points {
        position: absolute;
        right: 0px;
        top: 112px;
        width: 286px;
    }
    &__point1 {
        position: absolute;
        left: 222px;
        top: 104px;
    }
    &__point2 {
        position: absolute;
        left: 55px;
        top: 139px;
    }
    &__point3 {
        position: absolute;
        left: 12px;
        top: 355px;
    }
    &__button {
        left: 23px;
    }
}
.item-2 {
    height: 845px;
    
    &:after {
        background: #d5b8a6;
    }
    &__title {
        position: absolute;
        top: 77px;
        left: 198px;
    }
    &__first img {
        position: absolute;
        left: 0px;
        top: 20px;
        width: 100%;
    }
    &__second img {
        position: absolute;
        right: 0px;
        top: 41px;
        width: 230px;
    }
    &__points {
        position: absolute;
        right: 0px;
        top: 20px;
        width: 100%;
    }
    &__point1 {
        position: absolute;
        left: 320px;
        top: 223px;
    }
    &__point2 {
        position: absolute;
        left: 522px;
        top: 441px;
    }
    &__point3 {
        position: absolute;
        left: 57px;
        top: 124px;
    }
    &__point4 {
        position: absolute;
        left: 89px;
        top: 407px;
    }
    &__pricelist {
        top: 541px;
    }
    &__button {
        left: 349px;
        bottom: 96px;
    }
    &__cell-4 {
        position: relative;
        left: 103px; 
    }
}
.item-3 {
    
    &:after {
        background: #e0dedf;
    }
    &__title {
        position: absolute;
        top: 120px;
        left: 96px;
        width: 300px;
    }
    &__first img {
        position: absolute;
        left: 0px;
        top: 128px;
        width: 100%;
    }
    &__second img {
        position: absolute;
        left: 414px;
        top: 2px;
        width: 171px;
    }
    &__points {
        position: absolute;
        right: 0px;
        top: 128px;
        width: 100%;
    }
    &__point1 {
        position: absolute;
        left: 40px;
        top: 147px;
    }
    &__point2 {
        position: absolute;
        left: 390px;
        top: 97px;
    }
    &__point3 {
        position: absolute;
        left: 469px;
        top: -9px;
    }
    &__point4 {
        position: absolute;
        left: 539px;
        top: 215px;
    }
    &__pricelist {
        top: 554px;
    }
    &__button {
        left: 127px;
        bottom: 105px;
    }
    &__cell-4 {
        position: relative;
        left: 360px; 
    }
}
.item-4 {
    
    &:after {
        background: #81879f;
    }
    &__title {
        position: absolute;
        top: 123px;
        left: 369px;
    }
    &__first img {
        position: absolute;
        left: -10px;
        top: 27px;
        width: 338px;
    }
    &__second img {
        position: absolute;
        left: 214px;
        top: 217px;
        width: 367px;
    }
    &__points {
        position: absolute;
        left: 214px;
        top: 217px;
        width: 367px;
    }
    &__point1 {
        position: absolute;
        left: -10px;
        top: 223px;
    }
    &__point2 {
        position: absolute;
        left: 172px;
        top: 110px;
    }
    &__point3 {
        position: absolute;
        left: 241px;
        top: 294px;
    }
    &__point4 {
        position: absolute;
        left: 100px;
        top: -10px;
    }
    &__pricelist {
        top: 561px;
    }
    &__button {
        left: 275px;
        top: 684px;
    }
    &__cell-4 {
        position: relative;
        left: 0px; 
    }
}
.item-5 {
    
    &:after {
        background: #fbf4ae;
    }
    &__title {
        position: absolute;
        top: 141px;
        left: 337px;
    }
    &__first img {
        position: absolute;
        left: -10px;
        top: 34px;
        width: 321px;
    }
    &__second img {
        position: absolute;
        left: 206px;
        top: 262px;
        width: 394px;
    }
    &__points {
        position: absolute;
        left: 206px;
        top: 262px;
        width: 394px;
    }
    &__point1 {
        position: absolute;
        left: 200px;
        top: 240px;
    }
    &__point2 {
        position: absolute;
        left: 230px;
        top: 0px;
    }
    &__point3 {
        position: absolute;
        left: 22px;
        top: 215px;
    }
    &__pricelist {
        top: 588px;
    }
    &__button {
        left: 23px;
        top: 734px;
    }
}
.item-6 {
    
    &:after {
        background: #b0d0bb;
    }
    &__title {
        position: absolute;
        top: 129px;
        left: 96px;
    }
    &__first img {
        position: absolute;
        left: 0px;
        top: 182px;
        width: 435px;
    }
    &__second img {
        position: absolute;
        left: 434px;
        top: 0px;
        width: 166px;
    }
    &__points {
        position: absolute;
        left: 0px;
        top: 182px;
    }
    &__point1 {
        position: absolute;
        left: 162px;
        top: 301px;
    }
    &__point2 {
        position: absolute;
        left: 42px;
        top: 12px;
    }
    &__point3 {
        position: absolute;
        top: 117px;
        left: 384px;
    }
    &__pricelist {
        top: 552px;
    }
    &__button {
        left: 296px;
        top: 690px;
    }
}
.item-foot {
    background: #677aa5;
    &__title {
        position: absolute;
        top: 97px;
        left: 225px;
        width: 330px;
    }
    &__1 img {
        position: absolute;
        left: 0px;
        bottom: 0px;
        width: 164px;
    }
    &__2 img {
        position: absolute;
        left: 394px;
        top: 262px;
        width: 327px;
    }
    &__3 img {
        position: absolute;
        left: 82px;
        top: 148px;
        width: 348px;
    }
    &__4 img {
        position: absolute;
        left: 150px;
        top: 800px;
        width: 379px;
    }
    &__5 img {
        position: absolute;
        right: 0px;
        bottom: -430px;
        width: 194px;
    }
    &__points {
        position: absolute;
        left: 0px;
        top: 0px;
    }
    &__point1 {
        position: absolute;
        left: 648px;
        top: 290px;
    }
    &__point2 {
        position: absolute;
        left: 147px;
        top: 182px;
    }
    &__point3 {
        position: absolute;
        top: 440px;
        left: 98px;
    }
    &__pricelist {
        top: 481px;
        left: 165px;
    }
    &__button {
        left: 316px;
        top: 606px;
    }
}

.pricelist {
    display: flex;
    width: 98%;
    margin: auto;
    flex-wrap: wrap;
    color: #354656;
    &_white {
        color: white;
    }
    &__cell {
        width: 184px;
        height: 100px;
        padding: 16px 0px 0px 16px;
        position: relative;
        font-size: 13px;
        line-height: 15px;
        & span {
            font-size: 24px;
            line-height: 29px;
            font-weight: bold;
        }
    }
}
.button-pink {
    background-color: #f56086;
    color: white;
    outline: none;
    border: none;
}

@media screen and (max-width: 720px) {
    .page__wrapper {
        width: 600px;
    }
    .item-head__title {
        width: 340px;
        & h1 {
            font-size: 28px;
        }
        & h5 {
            font-size: 20px;
        }
    }
    .collection {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 1fr;
        &__head {
            grid-row: 1;
            grid-column: 1;
            margin-bottom: 0px;
        }
        &__item {
            grid-column: 1;
            margin-top: -110px;
        }
        &__item-1 {
            margin-top: -100px;
        }
        &__item-2 {
            margin-top: -180px;
        }
        &__item-4 {
            grid-row: 4;
        }
        &__item-6 {
            grid-row: 5;
        }
        &__foot {
            grid-row: 9;
            height: 549px;
            margin-top: -105px;
        }
    }
    .item-head {
        &__button {
            top: 168px;
        }
    }
    .item-foot {
        height: 700px;
        &__title {
            left: 200px;
            top: 70px;
            width: 228px;
        }
        &__button {
            top: 168px;
        }
        &__1 img {
            display: none;
        }
        &__2 img {
            display: none;
        }
        &__3 img {
            left: 153px;
            top: 133px;
        }
        &__4 img {
            left: -160px;
            top: 700px;
        }
        &__5 img {
            top: 1240px;
        }
        &__point1 {
            top: 200px;
            left: 250px;
        }
        &__point2 {
            top: 420px;
            left: 180px;
        }
        &__point3 {
            display: none;
        }
        &__pricelist {
            top: 500px;
            left: 10%;
        }
        &__cell-3 {
            display: none;
        }
        &__button {
            top: 600px;
            left: 30%;
        }
    }
}

@media screen and (max-width: 600px) {
    .page {
    &__header {
        height: 33vw;
        background: url('../img/mobile/header.jpg') no-repeat;
        background-size: contain;
    }
    &__footer {
        height: 140vw;
        background: url('../img/mobile/footer.jpg') no-repeat;
        background-size: contain;
    }
    &__wrapper {
        width: 375px;
    }
    }
    .item-head__title {
        width: 340px;
        & h1 {
            font-size: 28px;
        }
        & h5 {
            font-size: 20px;
        }
    }
    .collection {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 1fr;
        &__head {
            grid-row: 1;
            grid-column: 1;
            margin-bottom: 0px;
            background-position: top center;
        }
        &__item {
            grid-column: 1;
            margin-top: -55px;
            height: 527px;
        }
        &__item-1 {
            margin-top: -100px;
            height: 465px;
        }
        &__item-2 {
            margin-top: -130px;
        }
        &__item-4 {
            grid-row: 4;
        }
        &__item-6 {
            grid-row: 5;
        }
        &__foot {
            grid-row: 9;
            height: 549px;
            margin-top: -55px;
        }
    }
    .item-head {
        &__button {
            top: 168px;
        }
    }
    .item {
        &__title {
            font-size: 18px;
            width: 110px;
        }
        &__point {
            width: 15px;
            height: 15px;
            font-size: 9px;
            padding: 3px;
        }
        &__point-gray {
            width: 10px;
            height: 10px;
            font-size: 6px;
            padding: 2px;
        }
        &__button {
            width: 130px;
            height: 35px;
            font-size: 13px;
            line-height: 35px;
        }
        &_direction-left:after {
            -webkit-clip-path: polygon(0 0, 375px 10%, 375px 90%, 0 100%);
            clip-path: polygon(0 0, 375px 10%, 375px 90%, 0 100%);
        }
        &_direction-right:after {
            -webkit-clip-path: polygon(0 10%, 375px 0, 375px 100%, 0 90%);
            clip-path: polygon(0 10%, 375px 0, 375px 100%, 0 90%);
        }
    }
    .item-1 {
        &__title {
            top: 68px;
            left: 218px;
        }
        &__first img {
            width: 196px;
        }
        &__second img {
            width: 178px;
            top: 70px;
            right: 0px;
        }
        &__points {
            width: 178px;
            top: 70px;
            right: 0px;
        }
        &__point1 {
            top: 65px;
            left: 138px;
        }
        &__point2 {
            top: 87px;
            left: 35px;
        }
        &__point3 {
            top: 222px;
            left: 8px;
        }
        &__pricelist {
            top: 326px;
        }
        &__button {
            bottom: 42px;
        }
    }
    .item-2 {
        &__title {
            top: 48px;
            left: 124px;
            width: 160px;
        }
        &__first img {
            width: 100%;
            top: 20px;
        }
        &__second img {
            width: 143px;
            top: 26px;
            right: 0px;
        }
        &__points {
            width: 100%;
            top: 20px;
            left: 0px;
        }
        &__point1 {
            top: 139px;
            left: 200px;
        }
        &__point2 {
            top: 275px;
            left: 326px;
        }
        &__point3 {
            top: 77px;
            left: 36px;
        }
        &__point4 {
            top: 254px;
            left: 56px;
        }
        &__pricelist {
            top: 338px;
        }
        &__cell-4 {
            left: 60px;
        }
        &__button {
            bottom: 60px;
            left: 218px;
        }
    }
    .item-3 {
        &__title {
            top:75px;
            left: 56px;
            width: 190px;
        }
        &__first img {
            width: 100%;
            top: 80px;
        }
        &__second img {
            width: 107px;
            top: 0px;
            left: 259px;
        }
        &__points {
            width: 100%;
            top: 80px;
            left: 0px;
        }
        &__point1 {
            top: 92px;
            left: 25px;
        }
        &__point2 {
            top: 61px;
            left: 244px;
        }
        &__point3 {
            top: -20px;
            left: 292px;
        }
        &__point4 {
            top: 134px;
            left: 337px;
        }
        &__pricelist {
            top: 338px;
        }
        &__cell-4 {
            left: 234px;
        }
        &__button {
            bottom: 65px;
            left: 79px;
        }
    }
    .item-4 {
        &__title {
            top: 60px;
            left: 231px;
            width: 160px;
        }
        &__first img {
            width: 221px;
            top: 17px;
        }
        &__second img {
            width: 241px;
            top: 136px;
            left: 134px;
        }
        &__points {
            width: 241px;
            top: 136px;
            left: 134px;
        }
        &__point1 {
            top: 156px;
            left: -10px;
        }
        &__point2 {
            top: 70px;
            left: 120px;
        }
        &__point3 {
            top: 190px;
            left: 150px;
        }
        &__point4 {
            top: 0px;
            left: 64px;
        }
        &__pricelist {
            top: 351px;
        }
        &__cell-4 {
            left: 0px;
        }
        &__button {
            top: 427px;
            left: 172px;
        }
    }
    .item-5 {
        &__title {
            top: 88px;
            left: 211px;
            width: 160px;
        }
        &__first img {
            width: 201px;
            top: 21px;
        }
        &__second img {
            width: 246px;
            top: 164px;
            left: 125px;
        }
        &__points {
            width: 246px;
            top: 164px;
            left: 125px;
        }
        &__point1 {
            top: 150px;
            left: 130px;
        }
        &__point2 {
            top: 0px;
            left: 150px;
        }
        &__point3 {
            top: 130px;
            left: 10px;
        }
        &__pricelist {
            top: 368px;
        }
        &__cell-4 {
            left: 0px;
        }
        &__button {
            top: 459px;
            left: 14px;
        }
    }
    .item-6 {
        &__title {
            top: 60px;
            left: 81px;
            width: 140px;
        }
        &__first img {
            width: 273px;
            top: 114px;
        }
        &__second img {
            width: 103px;
            top: 0px;
            right: 0px;
            left: auto;
        }
        &__points {
            width: 273px;
            top: 114px;
        }
        &__point1 {
            top: 189px;
            left: 102px;
        }
        &__point2 {
            top: 8px;
            left: 27px;
        }
        &__point3 {
            top: 73px;
            left: 240px;
        }
        &__pricelist {
            top: 346px;
        }
        &__button {
            top: 432px;
            left: 186px;
        }
    }
    .item-foot {
        height: 549px;
        &__title {
            left: 213px;
            top: 68px;
            width: 106px;
        }
        &__button {
            top: 168px;
        }
        &__3 img {
            width: auto;
            left: auto;
            right: -60px;
            top: 60px;
            transform: rotate(33deg);
        }
        &__4 img {
            left: -50px;
            top: 480px;
            width: 250px;
        }
        &__5 img {
            width: 228px;
            top: 600px;
            left: 133px;
        }
        &__points {
            top: 0px;
            left: 0px;
        }
        &__point1 {
            top: 133px;
            left: 225px;
        }
        &__point2 {
            top: 300px;
            left: 140px;
        }
        &__point3 {
            display: none;
        }
        &__pricelist {
            top: 402px;
            left: 57px;
        }
        &__cell-3 {
            display: none;
        }
        &__button {
            top: 482px;
            left: 129px;
        }
    }
    .pricelist {
        &__cell {
            width: 120px;
            font-size: 8px;
            line-height: 10px;
            height: 70px;
            padding: 12px 0px 0px 12px;
            & span {
                font-size: 15px;
                line-height: 16px;
            }
        }
    }
}