
  
  
*  {
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-transform: none;
}
html {
  perspective: 5000px;
  perspective-origin: 100% 0%;
}
.matrix-page {
    background-color: #112;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    transform: scale(-1,1);
    z-index: 1;
    position: absolute;
}
canvas {
  display: block;
}
.hello-hidden {
  display: none;
}
.hello {
  display: block;
  z-index: 99;
  position: absolute;
  right: calc(15.8 * 15px);
  top: calc(22*15px);
  color: white;
  font-size: 8px;
  font-family: 'Montserrat';
  letter-spacing: 4px;
}
.str {
  min-width: 14px;
  text-align: center;
  float: left;
}
#str5 {
  text-align: right;
}