
@keyframes transp {
0% {
  color: white;
}
30% {
  color: green;
}
100% {
  color: transparent;
}

}  
  
  
*  {
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-transform: none;
}
html {
  perspective: 5px;
  perspective-origin: 50% 50%;
}
.page {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  transform: scale(-1, 1);
}

.matrix-page {
    perspective: 5000px;
    perspective-origin: 50% 50%;
    background-color: #112;
    width: 100vw;
    height: 200vh;
    top: -50vh;
    overflow: hidden;
    position: absolute;
    transform: translate3d(0, 0, 0px);
    transition: 10s ease
}
.matrix-page__str {
    transform-style: preserve-3d;
    position: absolute;
    float: left;
    top: 50vh;
    font-family: sans-serif;
    width: 1vw;
    line-height: 1.1;
    font-size: 1vw;
    overflow: visible;
    text-align: center;
    color: green;   
}
.str__let {
    text-shadow: 0px 0px 4px transparent;
    animation: transp 2s ease 2;
}
.str__lett {
    text-shadow: 0px 0px 4px #112;
    animation: transpp 2s ease 2;
}
.str__lett_ {
    text-shadow: 0px 0px 4px #112;
    animation: transpp 1s ease 11;
}
.str {
  font-weight: bold;
  color: transparent;
}
.hello {
  transform-style: preserve-3d;
  perspective-origin: 100% 50%;
  filter: FlipH;
  -ms-filter: "FlipH"; 
  position: relative;
  font-family: sans-serif;
  color: white;
  transition: 4s ease-in-out;
}
.hello_up {
}
.matrix_up {
}
.hello__title {
  text-transform: uppercase;
  text-align: center;
  font-size: 6vw;
  padding-top: 10vh;
}
.title__let {
  text-transform: uppercase;
  color: transparent;
  filter: blur(1px);
}
/*
.str_min_01 { transform: translate3d( 0, 0, -2215px); transition: 6s ease-in;  filter: blur(2px); z-index: 56;}   .str_zoom_01 { transform: translate3d( 0, 0, 7785px); filter: blur(px);}
.str_min_02 { transform: translate3d( 0, 0, -779px); transition: 6s ease-in;  filter: blur(2px); z-index: 84;}   .str_zoom_02 { transform: translate3d( 0, 0, 9221px); filter: blur(px);}
.str_min_03 { transform: translate3d( 0, 0, -442px); transition: 6s ease-in;  filter: blur(2px); z-index: 91;}   .str_zoom_03 { transform: translate3d( 0, 0, 9558px); filter: blur(px);}
.str_min_04 { transform: translate3d( 0, 0, -4229px); transition: 6s ease-in;  filter: blur(2px); z-index: 15;}   .str_zoom_04 { transform: translate3d( 0, 0, 5771px); filter: blur(px);}
.str_min_05 { transform: translate3d( 0, 0, -296px); transition: 6s ease-in;  filter: blur(2px); z-index: 94;}   .str_zoom_05 { transform: translate3d( 0, 0, 9704px); filter: blur(px);}
.str_min_06 { transform: translate3d( 0, 0, -2819px); transition: 6s ease-in;  filter: blur(2px); z-index: 44;}   .str_zoom_06 { transform: translate3d( 0, 0, 7181px); filter: blur(px);}
.str_min_07 { transform: translate3d( 0, 0, -4907px); transition: 6s ease-in;  filter: blur(2px); z-index: 2;}   .str_zoom_07 { transform: translate3d( 0, 0, 5093px); filter: blur(px);}
.str_min_08 { transform: translate3d( 0, 0, -1006px); transition: 6s ease-in;  filter: blur(2px); z-index: 80;}   .str_zoom_08 { transform: translate3d( 0, 0, 8994px); filter: blur(px);}
.str_min_09 { transform: translate3d( 0, 0, -4402px); transition: 6s ease-in;  filter: blur(2px); z-index: 12;}   .str_zoom_09 { transform: translate3d( 0, 0, 5598px); filter: blur(px);}
.str_min_10 { transform: translate3d( 0, 0, -4118px); transition: 6s ease-in;  filter: blur(2px); z-index: 18;}   .str_zoom_10 { transform: translate3d( 0, 0, 5882px); filter: blur(px);}
.str_min_11 { transform: translate3d( 0, 0, -833px); transition: 6s ease-in;  filter: blur(2px); z-index: 83;}   .str_zoom_11 { transform: translate3d( 0, 0, 9167px); filter: blur(px);}
.str_min_12 { transform: translate3d( 0, 0, -3871px); transition: 6s ease-in;  filter: blur(2px); z-index: 23;}   .str_zoom_12 { transform: translate3d( 0, 0, 6129px); filter: blur(px);}
.str_min_13 { transform: translate3d( 0, 0, -4663px); transition: 6s ease-in;  filter: blur(2px); z-index: 7;}   .str_zoom_13 { transform: translate3d( 0, 0, 5337px); filter: blur(px);}
.str_min_14 { transform: translate3d( 0, 0, -3961px); transition: 6s ease-in;  filter: blur(2px); z-index: 21;}   .str_zoom_14 { transform: translate3d( 0, 0, 6039px); filter: blur(px);}
.str_min_15 { transform: translate3d( 0, 0, -3339px); transition: 6s ease-in;  filter: blur(2px); z-index: 33;}   .str_zoom_15 { transform: translate3d( 0, 0, 6661px); filter: blur(px);}
.str_min_16 { transform: translate3d( 0, 0, -355px); transition: 6s ease-in;  filter: blur(2px); z-index: 93;}   .str_zoom_16 { transform: translate3d( 0, 0, 9645px); filter: blur(px);}
.str_min_17 { transform: translate3d( 0, 0, -114px); transition: 6s ease-in;  filter: blur(2px); z-index: 98;}   .str_zoom_17 { transform: translate3d( 0, 0, 9886px); filter: blur(px);}
.str_min_18 { transform: translate3d( 0, 0, -2456px); transition: 6s ease-in;  filter: blur(2px); z-index: 51;}   .str_zoom_18 { transform: translate3d( 0, 0, 7544px); filter: blur(px);}
.str_min_19 { transform: translate3d( 0, 0, -177px); transition: 6s ease-in;  filter: blur(2px); z-index: 96;}   .str_zoom_19 { transform: translate3d( 0, 0, 9823px); filter: blur(px);}
.str_min_20 { transform: translate3d( 0, 0, -1790px); transition: 6s ease-in;  filter: blur(2px); z-index: 64;}   .str_zoom_20 { transform: translate3d( 0, 0, 8210px); filter: blur(px);}
.str_min_21 { transform: translate3d( 0, 0, -1976px); transition: 6s ease-in;  filter: blur(2px); z-index: 60;}   .str_zoom_21 { transform: translate3d( 0, 0, 8024px); filter: blur(px);}
.str_min_22 { transform: translate3d( 0, 0, -4445px); transition: 6s ease-in;  filter: blur(2px); z-index: 11;}   .str_zoom_22 { transform: translate3d( 0, 0, 5555px); filter: blur(px);}
.str_min_23 { transform: translate3d( 0, 0, -894px); transition: 6s ease-in;  filter: blur(2px); z-index: 82;}   .str_zoom_23 { transform: translate3d( 0, 0, 9106px); filter: blur(px);}
.str_min_24 { transform: translate3d( 0, 0, -1843px); transition: 6s ease-in;  filter: blur(2px); z-index: 63;}   .str_zoom_24 { transform: translate3d( 0, 0, 8157px); filter: blur(px);}
.str_min_25 { transform: translate3d( 0, 0, -220px); transition: 6s ease-in;  filter: blur(2px); z-index: 96;}   .str_zoom_25 { transform: translate3d( 0, 0, 9780px); filter: blur(px);}
.str_min_26 { transform: translate3d( 0, 0, -4044px); transition: 6s ease-in;  filter: blur(2px); z-index: 19;}   .str_zoom_26 { transform: translate3d( 0, 0, 5956px); filter: blur(px);}
.str_min_27 { transform: translate3d( 0, 0, -2996px); transition: 6s ease-in;  filter: blur(2px); z-index: 40;}   .str_zoom_27 { transform: translate3d( 0, 0, 7004px); filter: blur(px);}
.str_min_28 { transform: translate3d( 0, 0, -3011px); transition: 6s ease-in;  filter: blur(2px); z-index: 40;}   .str_zoom_28 { transform: translate3d( 0, 0, 6989px); filter: blur(px);}
.str_min_29 { transform: translate3d( 0, 0, -1573px); transition: 6s ease-in;  filter: blur(2px); z-index: 69;}   .str_zoom_29 { transform: translate3d( 0, 0, 8427px); filter: blur(px);}
.str_min_30 { transform: translate3d( 0, 0, -904px); transition: 6s ease-in;  filter: blur(2px); z-index: 82;}   .str_zoom_30 { transform: translate3d( 0, 0, 9096px); filter: blur(px);}
.str_min_31 { transform: translate3d( 0, 0, -3402px); transition: 6s ease-in;  filter: blur(2px); z-index: 32;}   .str_zoom_31 { transform: translate3d( 0, 0, 6598px); filter: blur(px);}
.str_min_32 { transform: translate3d( 0, 0, -4998px); transition: 6s ease-in;  filter: blur(2px); z-index: 0;}   .str_zoom_32 { transform: translate3d( 0, 0, 5002px); filter: blur(px);}
.str_min_33 { transform: translate3d( 0, 0, -4530px); transition: 6s ease-in;  filter: blur(2px); z-index: 9;}   .str_zoom_33 { transform: translate3d( 0, 0, 5470px); filter: blur(px);}
.str_min_34 { transform: translate3d( 0, 0, -4231px); transition: 6s ease-in;  filter: blur(2px); z-index: 15;}   .str_zoom_34 { transform: translate3d( 0, 0, 5769px); filter: blur(px);}
.str_min_35 { transform: translate3d( 0, 0, -479px); transition: 6s ease-in;  filter: blur(2px); z-index: 90;}   .str_zoom_35 { transform: translate3d( 0, 0, 9521px); filter: blur(px);}
.str_min_36 { transform: translate3d( 0, 0, -3680px); transition: 6s ease-in;  filter: blur(2px); z-index: 26;}   .str_zoom_36 { transform: translate3d( 0, 0, 6320px); filter: blur(px);}
.str_min_37 { transform: translate3d( 0, 0, -2716px); transition: 6s ease-in;  filter: blur(2px); z-index: 46;}   .str_zoom_37 { transform: translate3d( 0, 0, 7284px); filter: blur(px);}
.str_min_38 { transform: translate3d( 0, 0, -2223px); transition: 6s ease-in;  filter: blur(2px); z-index: 56;}   .str_zoom_38 { transform: translate3d( 0, 0, 7777px); filter: blur(px);}
.str_min_39 { transform: translate3d( 0, 0, -4725px); transition: 6s ease-in;  filter: blur(2px); z-index: 6;}   .str_zoom_39 { transform: translate3d( 0, 0, 5275px); filter: blur(px);}
.str_min_40 { transform: translate3d( 0, 0, -2299px); transition: 6s ease-in;  filter: blur(2px); z-index: 54;}   .str_zoom_40 { transform: translate3d( 0, 0, 7701px); filter: blur(px);}
.str_min_41 { transform: translate3d( 0, 0, -4419px); transition: 6s ease-in;  filter: blur(2px); z-index: 12;}   .str_zoom_41 { transform: translate3d( 0, 0, 5581px); filter: blur(px);}
.str_min_42 { transform: translate3d( 0, 0, -1342px); transition: 6s ease-in;  filter: blur(2px); z-index: 73;}   .str_zoom_42 { transform: translate3d( 0, 0, 8658px); filter: blur(px);}
.str_min_43 { transform: translate3d( 0, 0, -1164px); transition: 6s ease-in;  filter: blur(2px); z-index: 77;}   .str_zoom_43 { transform: translate3d( 0, 0, 8836px); filter: blur(px);}
.str_min_44 { transform: translate3d( 0, 0, -2829px); transition: 6s ease-in;  filter: blur(2px); z-index: 43;}   .str_zoom_44 { transform: translate3d( 0, 0, 7171px); filter: blur(px);}
.str_min_45 { transform: translate3d( 0, 0, -4320px); transition: 6s ease-in;  filter: blur(2px); z-index: 14;}   .str_zoom_45 { transform: translate3d( 0, 0, 5680px); filter: blur(px);}
.str_min_46 { transform: translate3d( 0, 0, -4826px); transition: 6s ease-in;  filter: blur(2px); z-index: 3;}   .str_zoom_46 { transform: translate3d( 0, 0, 5174px); filter: blur(px);}
.str_min_47 { transform: translate3d( 0, 0, -743px); transition: 6s ease-in;  filter: blur(2px); z-index: 85;}   .str_zoom_47 { transform: translate3d( 0, 0, 9257px); filter: blur(px);}
.str_min_48 { transform: translate3d( 0, 0, -4959px); transition: 6s ease-in;  filter: blur(2px); z-index: 1;}   .str_zoom_48 { transform: translate3d( 0, 0, 5041px); filter: blur(px);}
.str_min_49 { transform: translate3d( 0, 0, -1079px); transition: 6s ease-in;  filter: blur(2px); z-index: 78;}   .str_zoom_49 { transform: translate3d( 0, 0, 8921px); filter: blur(px);}
.str_min_50 { transform: translate3d( 0, 0, -4070px); transition: 6s ease-in;  filter: blur(2px); z-index: 19;}   .str_zoom_50 { transform: translate3d( 0, 0, 5930px); filter: blur(px);}

.strc_min_01 { transform: translate3d( 0, 0, -2215px); transition: 6s ease-in;  filter: blur(2px); z-index: 56;}   .str_zoom_01 { transform: translate3d( 0, 0, 7785px); filter: blur(px);}
.strc_min_02 { transform: translate3d( 0, 0, -779px); transition: 6s ease-in;  filter: blur(2px); z-index: 84;}   .str_zoom_02 { transform: translate3d( 0, 0, 9221px); filter: blur(px);}
.strc_min_03 { transform: translate3d( 0, 0, -442px); transition: 6s ease-in;  filter: blur(2px); z-index: 91;}   .str_zoom_03 { transform: translate3d( 0, 0, 9558px); filter: blur(px);}
.strc_min_04 { transform: translate3d( 0, 0, -4229px); transition: 6s ease-in;  filter: blur(2px); z-index: 15;}   .str_zoom_04 { transform: translate3d( 0, 0, 5771px); filter: blur(px);}
.strc_min_05 { transform: translate3d( 0, 0, -296px); transition: 6s ease-in;  filter: blur(2px); z-index: 94;}   .str_zoom_05 { transform: translate3d( 0, 0, 9704px); filter: blur(px);}
.strc_min_06 { transform: translate3d( 0, 0, -2819px); transition: 6s ease-in;  filter: blur(2px); z-index: 44;}   .str_zoom_06 { transform: translate3d( 0, 0, 7181px); filter: blur(px);}
.strc_min_07 { transform: translate3d( 0, 0, -4907px); transition: 6s ease-in;  filter: blur(2px); z-index: 2;}   .str_zoom_07 { transform: translate3d( 0, 0, 5093px); filter: blur(px);}
.strc_min_08 { transform: translate3d( 0, 0, -1006px); transition: 6s ease-in;  filter: blur(2px); z-index: 80;}   .str_zoom_08 { transform: translate3d( 0, 0, 8994px); filter: blur(px);}
.strc_min_09 { transform: translate3d( 0, 0, -4402px); transition: 6s ease-in;  filter: blur(2px); z-index: 12;}   .str_zoom_09 { transform: translate3d( 0, 0, 5598px); filter: blur(px);}
.strc_min_10 { transform: translate3d( 0, 0, -4118px); transition: 6s ease-in;  filter: blur(2px); z-index: 18;}   .str_zoom_10 { transform: translate3d( 0, 0, 5882px); filter: blur(px);}
.strc_min_11 { transform: translate3d( 0, 0, -833px); transition: 6s ease-in;  filter: blur(2px); z-index: 83;}   .str_zoom_11 { transform: translate3d( 0, 0, 9167px); filter: blur(px);}
.strc_min_12 { transform: translate3d( 0, 0, -3871px); transition: 6s ease-in;  filter: blur(2px); z-index: 23;}   .str_zoom_12 { transform: translate3d( 0, 0, 6129px); filter: blur(px);}
.strc_min_13 { transform: translate3d( 0, 0, -4663px); transition: 6s ease-in;  filter: blur(2px); z-index: 7;}   .str_zoom_13 { transform: translate3d( 0, 0, 5337px); filter: blur(px);}
.strc_min_14 { transform: translate3d( 0, 0, -3961px); transition: 6s ease-in;  filter: blur(2px); z-index: 21;}   .str_zoom_14 { transform: translate3d( 0, 0, 6039px); filter: blur(px);}
.strc_min_15 { transform: translate3d( 0, 0, -3339px); transition: 6s ease-in;  filter: blur(2px); z-index: 33;}   .str_zoom_15 { transform: translate3d( 0, 0, 6661px); filter: blur(px);}
.strc_min_16 { transform: translate3d( 0, 0, -355px); transition: 6s ease-in;  filter: blur(2px); z-index: 93;}   .str_zoom_16 { transform: translate3d( 0, 0, 9645px); filter: blur(px);}
.strc_min_17 { transform: translate3d( 0, 0, -114px); transition: 6s ease-in;  filter: blur(2px); z-index: 98;}   .str_zoom_17 { transform: translate3d( 0, 0, 9886px); filter: blur(px);}
.strc_min_18 { transform: translate3d( 0, 0, -2456px); transition: 6s ease-in;  filter: blur(2px); z-index: 51;}   .str_zoom_18 { transform: translate3d( 0, 0, 7544px); filter: blur(px);}
.strc_min_19 { transform: translate3d( 0, 0, -177px); transition: 6s ease-in;  filter: blur(2px); z-index: 96;}   .str_zoom_19 { transform: translate3d( 0, 0, 9823px); filter: blur(px);}
.strc_min_20 { transform: translate3d( 0, 0, -1790px); transition: 6s ease-in;  filter: blur(2px); z-index: 64;}   .str_zoom_20 { transform: translate3d( 0, 0, 8210px); filter: blur(px);}
.strc_min_21 { transform: translate3d( 0, 0, -1976px); transition: 6s ease-in;  filter: blur(2px); z-index: 60;}   .str_zoom_21 { transform: translate3d( 0, 0, 8024px); filter: blur(px);}
.strc_min_22 { transform: translate3d( 0, 0, -4445px); transition: 6s ease-in;  filter: blur(2px); z-index: 11;}   .str_zoom_22 { transform: translate3d( 0, 0, 5555px); filter: blur(px);}
.strc_min_23 { transform: translate3d( 0, 0, -894px); transition: 6s ease-in;  filter: blur(2px); z-index: 82;}   .str_zoom_23 { transform: translate3d( 0, 0, 9106px); filter: blur(px);}
.strc_min_24 { transform: translate3d( 0, 0, -1843px); transition: 6s ease-in;  filter: blur(2px); z-index: 63;}   .str_zoom_24 { transform: translate3d( 0, 0, 8157px); filter: blur(px);}
.strc_min_25 { transform: translate3d( 0, 0, -220px); transition: 6s ease-in;  filter: blur(2px); z-index: 96;}   .str_zoom_25 { transform: translate3d( 0, 0, 9780px); filter: blur(px);}
.strc_min_26 { transform: translate3d( 0, 0, -4044px); transition: 6s ease-in;  filter: blur(2px); z-index: 19;}   .str_zoom_26 { transform: translate3d( 0, 0, 5956px); filter: blur(px);}
.strc_min_27 { transform: translate3d( 0, 0, -2996px); transition: 6s ease-in;  filter: blur(2px); z-index: 40;}   .str_zoom_27 { transform: translate3d( 0, 0, 7004px); filter: blur(px);}
.strc_min_28 { transform: translate3d( 0, 0, -3011px); transition: 6s ease-in;  filter: blur(2px); z-index: 40;}   .str_zoom_28 { transform: translate3d( 0, 0, 6989px); filter: blur(px);}
.strc_min_29 { transform: translate3d( 0, 0, -1573px); transition: 6s ease-in;  filter: blur(2px); z-index: 69;}   .str_zoom_29 { transform: translate3d( 0, 0, 8427px); filter: blur(px);}
.strc_min_30 { transform: translate3d( 0, 0, -904px); transition: 6s ease-in;  filter: blur(2px); z-index: 82;}   .str_zoom_30 { transform: translate3d( 0, 0, 9096px); filter: blur(px);}
.strc_min_31 { transform: translate3d( 0, 0, -3402px); transition: 6s ease-in;  filter: blur(2px); z-index: 32;}   .str_zoom_31 { transform: translate3d( 0, 0, 6598px); filter: blur(px);}
.strc_min_32 { transform: translate3d( 0, 0, -4998px); transition: 6s ease-in;  filter: blur(2px); z-index: 0;}   .str_zoom_32 { transform: translate3d( 0, 0, 5002px); filter: blur(px);}
.strc_min_33 { transform: translate3d( 0, 0, -4530px); transition: 6s ease-in;  filter: blur(2px); z-index: 9;}   .str_zoom_33 { transform: translate3d( 0, 0, 5470px); filter: blur(px);}
.strc_min_34 { transform: translate3d( 0, 0, -4231px); transition: 6s ease-in;  filter: blur(2px); z-index: 15;}   .str_zoom_34 { transform: translate3d( 0, 0, 5769px); filter: blur(px);}
.strc_min_35 { transform: translate3d( 0, 0, -479px); transition: 6s ease-in;  filter: blur(2px); z-index: 90;}   .str_zoom_35 { transform: translate3d( 0, 0, 9521px); filter: blur(px);}
.strc_min_36 { transform: translate3d( 0, 0, -3680px); transition: 6s ease-in;  filter: blur(2px); z-index: 26;}   .str_zoom_36 { transform: translate3d( 0, 0, 6320px); filter: blur(px);}
.strc_min_37 { transform: translate3d( 0, 0, -2716px); transition: 6s ease-in;  filter: blur(2px); z-index: 46;}   .str_zoom_37 { transform: translate3d( 0, 0, 7284px); filter: blur(px);}
.strc_min_38 { transform: translate3d( 0, 0, -2223px); transition: 6s ease-in;  filter: blur(2px); z-index: 56;}   .str_zoom_38 { transform: translate3d( 0, 0, 7777px); filter: blur(px);}
.strc_min_39 { transform: translate3d( 0, 0, -4725px); transition: 6s ease-in;  filter: blur(2px); z-index: 6;}   .str_zoom_39 { transform: translate3d( 0, 0, 5275px); filter: blur(px);}
.strc_min_40 { transform: translate3d( 0, 0, -2299px); transition: 6s ease-in;  filter: blur(2px); z-index: 54;}   .str_zoom_40 { transform: translate3d( 0, 0, 7701px); filter: blur(px);}
.strc_min_41 { transform: translate3d( 0, 0, -4419px); transition: 6s ease-in;  filter: blur(2px); z-index: 12;}   .str_zoom_41 { transform: translate3d( 0, 0, 5581px); filter: blur(px);}
.strc_min_42 { transform: translate3d( 0, 0, -1342px); transition: 6s ease-in;  filter: blur(2px); z-index: 73;}   .str_zoom_42 { transform: translate3d( 0, 0, 8658px); filter: blur(px);}
.strc_min_43 { transform: translate3d( 0, 0, -1164px); transition: 6s ease-in;  filter: blur(2px); z-index: 77;}   .str_zoom_43 { transform: translate3d( 0, 0, 8836px); filter: blur(px);}
.strc_min_44 { transform: translate3d( 0, 0, -2829px); transition: 6s ease-in;  filter: blur(2px); z-index: 43;}   .str_zoom_44 { transform: translate3d( 0, 0, 7171px); filter: blur(px);}
.strc_min_45 { transform: translate3d( 0, 0, -4320px); transition: 6s ease-in;  filter: blur(2px); z-index: 14;}   .str_zoom_45 { transform: translate3d( 0, 0, 5680px); filter: blur(px);}
.strc_min_46 { transform: translate3d( 0, 0, -4826px); transition: 6s ease-in;  filter: blur(2px); z-index: 3;}   .str_zoom_46 { transform: translate3d( 0, 0, 5174px); filter: blur(px);}
.strc_min_47 { transform: translate3d( 0, 0, -743px); transition: 6s ease-in;  filter: blur(2px); z-index: 85;}   .str_zoom_47 { transform: translate3d( 0, 0, 9257px); filter: blur(px);}
.strc_min_48 { transform: translate3d( 0, 0, -4959px); transition: 6s ease-in;  filter: blur(2px); z-index: 1;}   .str_zoom_48 { transform: translate3d( 0, 0, 5041px); filter: blur(px);}
.strc_min_49 { transform: translate3d( 0, 0, -1079px); transition: 6s ease-in;  filter: blur(2px); z-index: 78;}   .str_zoom_49 { transform: translate3d( 0, 0, 8921px); filter: blur(px);}
.strc_min_50 { transform: translate3d( 0, 0, -4070px); transition: 6s ease-in;  filter: blur(2px); z-index: 19;}   .str_zoom_50 { transform: translate3d( 0, 0, 5930px); filter: blur(px);}
*/