$head_color: #255171;
.page {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    margin: 0;
    padding: 0;
    &__elem {
        width: 100%;
        padding-bottom: 50px;
        background-color: $head_color;
    }
}
.navigation {
    background-color: $head_color;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.nav-button {
    display: hidden;
}
.menu {
    padding-top: 80px;
    padding-left: 0px;
    width: 1260px;
    margin: auto;
    -webkit-display: flex;
	-webkit-justify-content: space-between;
	-webkit-align-items:  center;
	display: flex;
	justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    &__item {
        height: 45px;
        width: 100%;
        -webkit-display: flex;
        -webkit-flex-direction: column;
        -webkit-justify-content: space-between;
        -webkit-align-items:  center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center; 
        height: 40px;
        &:first-child {
            margin-left: 0px;
        }
    }
    &__link {
        text-decoration: none;
        color: white;
    }
    &__item:after {
        content: "";
        width: 0%;
        border-bottom: 1px solid  white;
        transition: 0.3s ease;
        margin-bottom: -1px;
    }
    &__item-active:after, &__item:hover:after {
        content: "";
        width: 100%;
        border-bottom: 1px solid  white;
    }
    &__item_search {
        align-items: flex-end;
        &:before {
            content: "";
            width: 40px;
            height: 40px;
            border-radius: 20px;
            margin-top: -12px;
            margin-left: 8px;
            position: absolute;
            background-color: rgba(255, 255, 255, 0);
            transition: 0.3s ease;
        }
        &:hover:before {
            background-color: rgba(255, 255, 255, 0.2);
        }
        &:hover:after {
            width: 0%;
        }
    }
    &__search {
        position: relative;
        margin-top: -5px;
    }
}
@media screen and (max-width: 1280px) and (min-width: 768px) {
.menu {
    width: 90%;
}
}
@media screen and (max-width: 1070px) {
.menu__item_search {
        display: none;
}
}
@media screen and (max-width: 768px) {
.nav-button {
    display: block;
    position: absolute;
}
.header {
    height: 20px;
    position: fixed;
    z-index: 99;
}
.menu {
    visibility: visible;
    width: 100vw;
    background-color: $head_color;
	position: absolute;
	left: 0px;
	top: 30px;
	-webkit-flex-direction: column;
	-webkit-align-items: flex-start;
	flex-direction: column;
	align-items: flex-start;
	height: calc(92vh - 40px);
	padding-top: 40px;
    padding-bottom: 8vh;
    transition: 0.3s ease-in;
    &__item {
        text-align: center;
        width: 100%;
        height: 30px;
        padding-top: 10px;
        background: none;
        font-size: 30px;
        &:hover {
            background: none;
        }
    }
}

.menu-hidden {
    visibility: hidden;
    height: 0%;
}
.nav-button {
	position: fixed;
	display: block;
	width: 50px;
	height: 50px;
	left: 10px;
    top: 10px;
    &__line {
        position: absolute;
        height: 10%;
        width: 100%;
        background-color: #ffffff;
        border-radius: 1px;
        transition: transform 0.4s cubic-bezier(0.5, -1, 1, 2), margin-top 0.1s ease;
        
    &_number_1 {
        margin-top: 10%;
    }
    &_number_2 {
        margin-top: 40%;
    }
    &_number_3 {
        margin-top: 70%;
    }
    &_rotate_1 {
        transform: rotate(-45deg);
        margin-top: 40%;
    }
    &_rotate_3 {
        transform: rotate(45deg);
        margin-top: 40%;
    }
    }
}
}
.market {
    width: 1260px;
    margin: auto;
    padding-top: 100px;

&__title {
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    display: inline;
}
&__lr {
    float: right;
    width: 75px;
}
&__left {
    float: left; 
}
&__right {
    float: right;
    margin-left: 5px; 
}
&__arrow {
    cursor: default;
    text-align: center;
    padding-top: 8px;
    font-size: 25px;
    width: 33px;
    height: 24px;
    border-radius: 20px;
    border: 1px solid #303030;
    color: #303030;
    &:hover {
        border: 1px solid #255171;
        background-color: #255171;
        color: white;
    }
}
&__production {
    margin: 40px auto;
    width: 100%;
    height: 340px;
    overflow: hidden;
}
&__scroll {
    width: calc( 100% - 320px );
    margin-right: 14px;
    float: left;
    margin-top: 20px;
    height: 4px;
    background: #bbb;
    border-radius: 4px;
    overflow: hidden;
    
}
&__button {
    width: 306px;
    height: 45px;
    float: right;
    box-sizing: border-box;
    border-radius: 25px;
    border: 1px solid #1345AE;
    box-shadow: 0px 0px 0px 0px #1345AE inset;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1345AE;
    font-size: 14px;
    transition: 0.5s ease;
    cursor: pointer;
    &:hover {
        box-shadow: 0px 0px 50px 50px #1345AE inset;
        color: white;
    }
}
}
.scroll__line{
    background-color: #1345AE;
    border-radius: 4px;
    height: 4px;
    width: 50%;
    left: 0%;
    position: relative;
    display: block;
}
.production {
    height: 340px;
    width: auto;
    padding-left: 0px;
    display: flex;
    justify-content: space-between;
    overflow: scroll;
    overflow-y: hidden;
    margin: 0px auto 10px;
    padding-bottom: 100px;
}
.product {
    color: black;
    overflow: hidden;
    flex-shrink: 0;
    display: inline-block;
    margin-right: 14px;
    width: 306px;
    height: 100%;
    box-sizing: border-box;
    transition: 0.3s ease;
    cursor: pointer;
    &:hover &__image {
        box-shadow: 0px 0px 30px 1px #000033 inset;
    }
    &:hover &__title {
        text-decoration: underline;
    }
    &__image {
        display: block;
        height: 219px;
        background: linear-gradient(180deg, rgba(51, 69, 97, 0.8) -8.68%, rgba(54, 92, 146, 0) 38.36%), url(img/image.jpg);
    }
    &__title {
        display: block;
        font-weight: bold;
        font-size: 19px;
        line-height: 26px;
        margin: 13px auto 7px 0px;
    }
    &__subtitle {
        text-transform: uppercase;
        font-weight: 500;
        color: #979797;
        font-size: 12px;
        line-height: 16px;
        display: block;
        margin: 7px auto 5px 0px;
    }
    &__old-price {
        color: #BB9964;
        text-decoration: line-through;
        font-size: 13px;
        line-height: 17px;
    }
    &__sale {
        overflow: hidden;
        font-size: 11px;
        height: 20px;
        display: inline-block;
        color: white;
        background-color: #1345AE;
        text-align: left;
        padding-left: 10px;
        width: 85px;
        margin-left: 10px;
        &:after {
            display: inline-block;
            right: -10px;
            vertical-align: bottom;
            height: 20px;
            width: 20px;
            content: "";
            position: relative;
            background-color: white;
            transform: rotate(45deg);
        }
    }
    &__price {
        color: #BB9964;
        text-transform: uppercase;
        font-size: 13px;
        line-height: 30px;
        margin-top: 7px;

    &-b {
        font-weight: bold;
        color: #BB9964;
        text-transform: uppercase;
        font-size: 17px;
        line-height: 25px;
    }
    }
    &__quest {
    display: inline-block;
    cursor: default;
    text-align: center;
    padding-top: 3px;
    font-size: 13px;
    width: 22px;
    height: 19px;
    border-radius: 15px;
    border: 1px solid #303030;
    color: #303030;
    &:hover {
        border: 1px solid #255171;
        background-color: #255171;
        color: white;
    }
    }
}
@media screen and (min-width: 980px) and (max-width: 1279px) {
    .market {
        width: 946px;
        
    }
    .scroll__line{
        width: 37%;
    }
}
@media screen and (min-width: 640px) and (max-width: 979px) {
    .market {
        width: 626px;
    }
    .scroll__line{
        width: 25%;
    }
}
@media screen and (max-width: 639px) {
    .market {
        width: 306px;
    }
    .scroll__line{
        width: 12%;
    }  
}