.svg-book-dims {
	width: 50px;
	height: 50px;
}

.svg-brain-dims {
	width: 50px;
	height: 50px;
}

.svg-chat-dims {
	width: 50px;
	height: 50px;
}

.svg-clipboard-dims {
	width: 60px;
	height: 60px;
}

.svg-close-dims {
	width: 35px;
	height: 35px;
}

.svg-confidence-dims {
	width: 50px;
	height: 50px;
}

.svg-done-dims {
	width: 210px;
	height: 210px;
}

.svg-graduate-dims {
	width: 60px;
	height: 60px;
}

.svg-internet-dims {
	width: 50px;
	height: 50px;
}

.svg-lamp-dims {
	width: 50px;
	height: 50px;
}

.svg-learning-dims {
	width: 60px;
	height: 60px;
}

.svg-location-dims {
	width: 24px;
	height: 24px;
}

.svg-online-lesson-dims {
	width: 60px;
	height: 60px;
}

.svg-p_phone-dims {
	width: 20px;
	height: 20px;
}

.svg-p_user-dims {
	width: 20px;
	height: 20px;
}

.svg-pencil-dims {
	width: 60px;
	height: 60px;
}

.svg-phone-dims {
	width: 22px;
	height: 22px;
}

.svg-puzzle-dims {
	width: 50px;
	height: 50px;
}

.svg-telegram-dims {
	width: 24px;
	height: 24px;
}

.svg-time-dims {
	width: 24px;
	height: 24px;
}

.svg-vk-dims {
	width: 24px;
	height: 24px;
}

.svg-warning-dims {
	width: 50px;
	height: 50px;
}

.svg-whatsapp-dims {
	width: 24px;
	height: 24px;
}

.svg-work-dims {
	width: 50px;
	height: 50px;
}

