
@font-face {
    font-family: 'FbSpoiler';
    src: local('FbSpoiler'), local('FbSpoiler'), url('FbSpoiler.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'FbSpoiler';
    src: local('FbSpoiler'), local('FbSpoiler'), url('FbSpoiler-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'FbSpoilerEng';
    src: local('FbSpoilerEng'), local('FbSpoilerEng'), url('FbSpoilerEng.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'FbSpoilerEng';
    src: local('FbSpoilerEng'), local('FbSpoilerEng'), url('FbSpoilerEng-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}