
@font-face {
    font-family: 'Handelson';
    src: local('Handelson'), local('Handelson'), url('Handelson.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'journalism';
    src: local('journalism'), local('journalism'), url('journalism.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'RexBoldInline';
    src: local('RexBoldInline'), local('RexBoldInline'), url('RexBoldInline.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'gotham';
    src: local('gotham'), local('gotham'), url('gotham/GothaProReg.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'gotham';
    src: local('gotham'), local('gotham'), url('gotham/GothaProIta.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'gotham';
    src: local('gotham'), local('gotham'), url('gotham/GothaProBla.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'gotham';
    src: local('gotham'), local('gotham'), url('gotham/GothaProBlaIta.otf') format('opentype');
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: 'gotham';
    src: local('gotham'), local('gotham'), url('gotham/GothaProBol.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'gotham';
    src: local('gotham'), local('gotham'), url('gotham/GothaProBolIta.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'gotham';
    src: local('gotham'), local('gotham'), url('gotham/GothaProMed.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'gotham';
    src: local('gotham'), local('gotham'), url('gotham/GothaProMedIta.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'gotham';
    src: local('gotham'), local('gotham'), url('gotham/GothaProLig.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'gotham';
    src: local('gotham'), local('gotham'), url('gotham/GothaProLigIta.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
}