@font-face {
    font-family: 'RFDewi';
    src: local('RFDewi Light'), local('RFDewi-Light'), url('rfdewi-light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'RFDewi';
    src: local('RFDewi Regular'), local('RFDewi-Regular'), url('rfdewi-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'RFDewi';
    src: local('RFDewi Bold'), local('RFDewi-Bold'), url('rfdewi-bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}