$sprites: (
	"facebook": (
		normal: (
			x: 44,
			y: 0,
			width: 28,
			height: 28,
			image: "sprites.png",
			total_width: 72,
			total_height: 42,
		),
		retina: (
			x: 88,
			y: 0,
			width: 56,
			height: 56,
			image: "sprites@2x.png",
			total_width: 144,
			total_height: 84,
		),
	),
	"twitter": (
		normal: (
			x: 0,
			y: 0,
			width: 42,
			height: 42,
			image: "sprites.png",
			total_width: 72,
			total_height: 42,
		),
		retina: (
			x: 0,
			y: 0,
			width: 84,
			height: 84,
			image: "sprites@2x.png",
			total_width: 144,
			total_height: 84,
		),
	),
);

@each $name in map-keys($sprites) {
	.sprite-#{$name} {
		@include sprite($name);
	}
}
