// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS

$color-black: #010101;
$color-white: #fff;
$color-gallery: #f0f0f0;

// FONTS

// EASING TRANSITIONS
$duration-normal: 0.4s;
$easing-back-out: cubic-bezier(0.25, 0.74, 0.22, 1.1); // http://cubic-bezier.com/#.25,.74,.22,1.1
$easing-back-in: cubic-bezier(0.47, -0.1, 0.5, -0.06); // http://cubic-bezier.com/#.47,-0.1,.5,-.06
$easing-arrow: cubic-bezier(.26,.61,.58,.99);
$easing-out: ease-out;
$easing-in: ease-in;
