html
    head
        link(href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300i,400,500i,600i,700i,300,400,500,600,700&display=swap&subset=cyrillic", rel="stylesheet")
        link(href="src/slider.css", rel="stylesheet")
        link(href="css/style.css", rel="stylesheet")
        script(src="js/jquery.min.js")
        script(src="js/jqueryUI.js")
        script(src="js/jquery.touch.js")
        script(src="js/js.js", defer)
        meta(name="viewport", content="width=device-width, height=device-height, initial-scale=1")
        meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    body.page
        header.page__wrapper.wrapper.header
            .header__navigation
                ul.navigation.navigation-disabled
                    li.navigation__item 
                        a#menu.navigation__link.navigation__button Меню
                    li.navigation__item 
                        a(href="#personal").navigation__link Личная информация
                    li.navigation__item 
                        a(href="#experience").navigation__link Опыт
                    li.navigation__item 
                        a(href="#js").navigation__link JavaScript
                    li.navigation__item 
                        a(href="#about").navigation__link О себе
            .header__title Анкета
        main.page__wrapper.wrapper.main
            form.main__form
                .main__part#personal
                    img(src="img/personal.svg").main__icon
                    .main__title Личная Информация
                    .main__inputs
                        .main__text-input.text-input
                            span.text-input__title ФИО
                            //Русанов Александр Сергеевич
                            input(type="text").text-input__input
                        .main__text-input.select-input
                            span.text-input__title Год Рождения
                            //1992
                            img(src="img/arrow.svg").select-input__icon
                            - var n = 2005;
                            .select-input__select
                                while n > 1974
                                    .select-input__option(id='' + n)= n--
                            input(type="text").text-input__input
                        .main__text-input.text-input
                            span.text-input__title Место проживания
                            //Москва
                            input(type="text").text-input__input
                        .main__text-input.text-input
                            span.text-input__title Skype
                            //the_fued
                            input(type="text").text-input__input
                        .main__text-input.text-input
                            span.text-input__title E-mail
                            //ralexandrus@gmail.com
                            input(type="text").text-input__input
                .main__part#experience
                    img(src="img/experience.svg").main__icon
                    .main__title Расскажите о своем опыте
                    .checks__checks.checks
                        .check.checks__check
                            input(type="checkbox", id="check1", checked).check__checkbox
                            label(for="check1").check__label БЭМ/OOCSS
                        .check.checks__check
                            input(type="checkbox", id="check2", checked).check__checkbox
                            label(for="check2").check__label Stylus/Less/Sass
                        .check.checks__check
                            input(type="checkbox", id="check3", checked).check__checkbox
                            label(for="check3").check__label Работаю с SVG
                        .check.checks__check
                            input(type="checkbox", id="check4", checked).check__checkbox
                            label(for="check4").check__label Верстаю семантично
                        .check.checks__check
                            input(type="checkbox", id="check5").check__checkbox
                            label(for="check5").check__label ES2015/ES2016
                        .check.checks__check
                            input(type="checkbox", id="check6", checked).check__checkbox
                            label(for="check6").check__label Gulp/GRUNT
                        .check.checks__check
                            input(type="checkbox", id="check7").check__checkbox
                            label(for="check7").check__label Webpack
                        .check.checks__check
                            input(type="checkbox", id="check8", checked).check__checkbox
                            label(for="check8").check__label Jquery
                        .check.checks__check
                            input(type="checkbox", id="check9", checked).check__checkbox
                            label(for="check9").check__label Использую GIT
                .main__part#js
                    img(src="img/js.svg").main__icon
                    .main__title Уровень владения JavaScript
                    .js
                        .js__levels.levels
                            .levels__item Не владею
                            .levels__item Использую готовые решения
                            .levels__item Использую готовые решения и умею переделывать
                            .levels__item Пишу сложный JS с нуля
                        .js__scroll
                            div#scroller
                .main__part#about
                    img(src="img/about.svg").main__icon
                    .main__title Расскажите о себе
                    .main__subtitle 
                        | Напишите несколько предложений, чем привлекла наша вакансия 
                        br
                        | и что вы ожидаете от работы у нас.
                    textarea.main__textarea
                        | Понравилась тем, что именно на этой вакансии я буду верстать хорошие и интересные проекты, учиться новому и развиваться как специалист до Senior уровня.
                    button.main__button Готово
        
        

            
