body {
	font-family: 'Museo Sans Cyrl';
	font-size: 16px;
	color: white;
	margin: 0px;
}
header {
	text-transform: uppercase;
	width: 100%;
	height: calc(100vh - 18px);
	background-color: gray;
	padding-top: 18px;
	background: linear-gradient(134.26deg, #080F1B 0%, rgba(8, 15, 27, 0.15) 36.66%, rgba(8, 15, 27, 0) 72.14%), linear-gradient(270.24deg, #0B1E3F 0.13%, rgba(5, 18, 40, 0.578231) 55.8%, rgba(8, 15, 27, 0) 81.16%), url('img/depositphotos_178406122_xl-2015.jpg') no-repeat;
	background-size: cover;
	overflow: hidden;
}
.navigation {
	font-size: 12px;
	width: 1140px;
	position: relative;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 120px 741px 137px;
	grid-template-rows: 75px;
	grid-column-gap: 70px;
}
.navigation_logo {
	width: 100%;
}
.menu {
	margin-top: 35px;
	padding-left: 0px;
	line-height: 17px;
	letter-spacing: 0.04em;
	display: grid;
	grid-template-columns: auto auto auto 96px 96px auto;
	grid-column-gap: 55px;
	width: 741px;
}
.menu-item {
	margin-right: auto;
	margin-left: auto;
	display: block;
	text-align: left;
	cursor: default;
	word-wrap: break-word;
	transition: 0.2s ease-in;
}
.menu-item:hover {
	color: #F8A815;
}
.navigation_button {
	margin-top: 20px;
	width: 137px;
	height: 45px;
	background-color: #F8A815;
	display: block;
	color: white;
	border-radius: 1px;
	text-align: center;
	line-height: 45px;
	text-decoration: none;
}
.navigation_button:hover {
	color: white;
	background-color: #F4A411;
}
.menu-button {
	display: none;
}
.scroll {
	position: fixed;
	z-index: 10;
	margin: auto;
	top: 40vh;
	left: 150px;
	line-height: 30px;
}
.scroll-menu {
	cursor: default;
	font-size: 20px;
	padding-left: 0px;
	transition: 0.2s ease;
}
.scroll-menu-item {
	transition: 0.2s ease;
}
.scroll-menu-item.active {
	color: #F8A815;
}
.scroll-menu-item:hover {
	color: #F8A815;
}
.text-block {
	position: absolute;
	top: 20vh;
	right: 10vw;
	width: 537px;
	height: 120px;
	font-size: 16px;
}
.text-block h1 {
	font-family: 'Museo Sans Cyrl Bold';
	font-size: 122px;
	line-height: 120px;
	margin-bottom: 10px;
}
.text-block h1 span {
	color: white;
   -webkit-text-stroke: 1px #ffffff;
   -webkit-text-fill-color: transparent;
}
.text-block p{
	text-transform: capitalize;
}
@media screen and (min-width: 1023px) and (max-width: 1280px) {
.navigation {
	width: 977px;
	grid-template-columns: 120px 700px 137px;
	grid-template-rows: 75px;
	grid-column-gap: 10px;
}
.menu {
	grid-template-columns: auto auto auto 96px 96px auto;
	grid-column-gap: 20px;
	width: 700px;
}	
.text-block {
	right: 5vw;
}
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
.navigation {
	width: 760px;
	grid-template-columns: 100px 500px 100px;
	grid-template-rows: 75px;
	grid-column-gap: 5px;
}
.menu {
	grid-template-columns: auto auto auto 96px 96px auto;
	grid-column-gap: 5px;
	width: 500px;
	font-size: 80%;
}	
.scroll {
	left: 50px;
	line-height: 20px;
}
}
@media screen and (min-width: 768px) and (max-width: 1023px) and (orientation: landscape) {
.text-block {
	top: 30vh;
	right: 5vw;
	width: 50%;
	height: 50%;
	font-size: 80%;
}
.text-block h1 {
	font-size: 70px;
	line-height: 60px;
}
}
@media screen and (max-width: 768px) and (orientation: landscape) {
.navigation {
	width: 95vw;
	grid-template-columns: 10vw 68vw 15vw;
	grid-template-rows: 4vh;
	grid-column-gap: 1vw;
}
.menu {
	grid-template-columns: auto auto auto 10vw 10vw auto;
	grid-column-gap: 0.5vw;
	width: 68vw;
	height: 5vw;
	font-size: 1vw;
	margin-top: 4vh;
	line-height: 1vw;
}	
.navigation_button {
	margin-top: -0.5vh;
	width: 15vw;
}
.scroll {
	left: 50px;
	line-height: 20px;
}
.text-block {
	top: 20vh;
	right: 5vw;
	width: 50%;
	height: 50%;
	font-size: 2vw;
}
.text-block h1 {
	font-size: 10vw;
	line-height: 9vw;
}
}
@media screen and (orientation: portrait) {
header {
	background: linear-gradient(329.92deg, #0B1E3F 0%, rgba(11, 27, 55, 0.790678) 24.82%, rgba(9, 21, 42, 0.44) 46.91%, rgba(9, 18, 34, 0.32) 79.79%, rgba(8, 15, 27, 0.07) 100%), linear-gradient(95.84deg, rgba(8, 15, 27, 0.96) -7.49%, rgba(8, 15, 27, 0.53) 16.59%, rgba(8, 15, 27, 0.34) 44.25%, rgba(8, 15, 27, 0) 82.15%, rgba(8, 15, 27, 0) 100%), url('img/depositphotos_178406122_xl-2015.jpg') no-repeat 25% bottom;
	background-size: auto 110vh;
}
.menu-button {
	display: block;
	position: fixed;
	z-index: 99;
	width: 10vw;
	height: 10vw;
	top: 2vh;
	right: 4vw;
}
.scroll {
	display: none;
}
.text-block {
	position: absolute;
	top: 50vh;
	left: 5vw;
	width: 90vw;
	height: 120px;
	font-size: 2vh;
}
.text-block h1 {
	font-family: 'Museo Sans Cyrl Bold';
	font-size: 16vw;
	line-height: 16vw;
	margin-bottom: 10px;
}
.navigation {
	margin-top: -18px;
	z-index: 90;
	width: 100vw;
	height: calc(100vh + 18px);
	background-color: transparent;
	grid-template-columns: 100vw;
	grid-template-rows: 1fr 4fr 1fr;
	grid-row-gap: 10px;
	transition: 0.5s ease;
}
.menu {
	font-size: 3vh;
	margin: auto;
	padding-left: 0px;
	line-height: 17px;
	letter-spacing: 0.04em;
	display: none;
	grid-template-columns: auto;
	grid-template-rows: auto auto auto auto auto auto;
	grid-row-gap: 5px;
	height: 60vh;
	transition: 0.2s ease-in;
}
.menu-item {
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	margin-left: 5vw;
	display: block;
	text-align: left;
	padding-top: 3vh;
	width: 90vw;
	transition: 0.2s ease-in;
}
.menu-item:nth-child(6) {
	border-bottom: none;
}
.menu-item:hover {
	color: #F8A815;
}
.navigation_button {
	margin: auto;
	margin-bottom: 4vh;
	width: 90vw;
	height: 45px;
	background-color: #F8A815;
	display: block;
	color: white;
	border-radius: 1px;
	text-align: center;
	line-height: 45px;
	text-decoration: none;
}
.navigation_logo {
	width: 30%;
	padding-left: 10px;
	padding-top: 10px;
}
.navigation.view {
	background-color: #080F1B;
}
.menu.view {
	display: grid;
}
}
