doctype
html(lang="ru")
    head
    link(href="https://fonts.googleapis.com/css?family=Roboto&display=swap", rel="stylesheet")
    link(rel="stylesheet", href="font-awesome-4.7.0/css/font-awesome.min.css")
    link(href="style.css", rel="stylesheet")
    meta(name="viewport", content="width=device-width, height=device-height, initial-scale=1")
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    body.page
        header.page__elem.header
            img.header__logo(src="img/logo.png")
            h1.header__title НОВЫЙ БИЗНЕС УНИВЕРСИТЕТ
            h1.header__title.header__sub  Международный Центр Дистанционного Образования
        .banner
            h2.page__title.banner__title.
                Полный курс кулинарного дела<br>
                КУЛИНАР ЭКСПЕРТ<br>
            span.banner__span Повар 6-го разряда
            svg.banner__play(viewBox="0 0 105 120", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink")
                path(fill-rule="evenodd", stroke="rgb(255, 255, 255)", fill="#051fa5", stroke-width="3px", stroke-linecap="butt", stroke-linejoin="miter", d="M2.020,114.881 L2.020,1.858 L99.901,58.369 L2.020,114.881 Z")
            img.banner__img(src="img/kok.jpg")
            form.banner__form.form
                input.form__input(placeholder="Имя")
                input.form__input(placeholder="Email")
                div.form__checkbox
                    input.form__check(id="toggle-1", type="checkbox")
                    label.form__label(for="toggle-1")
                    |Согласие на обработку персональных данных
                label.submit.form__submit
                    input.submit__input(type="submit")
                    b.submit__first Начать обучение бесплатно
                    |и посмотреть свой будущий диплом
                    span.submit__date сегодня 25.04.2019
        h3.page__title Получи гос. диплом с международным<br>приложением в кратчайшие сроки
        p.page__text Этот содержательный курс даст вам именно те знания, которые вы ищете. Он поможет вам обрести уверенность и стать более компетентным в своей сфере. Не откладывайте ваше развитие и профессиональный рост на потом - запишитесь на курс, и<br>
        img.page__img(src="img/lic_01.jpg") 
        br
        span.page__subtitle Лицензия на образовательную деятельность №038379
        br
        img.page__img(src="img/lic_02.jpg")
        img.page__img(src="img/lic_03.jpg")
        img.page__img(src="img/lic_04.jpg")
        br
        span.page__subtitle Лицензия на образовательную деятельность №038379
        br
        img.page__img(src="img/lic_05.jpg")
        br
        span.page__subtitle Лицензия на образовательную деятельность №038379
        br  
        h3.page__title Осваивай новые знания быстрее и проще на современной<br>СЛАЙД платформе обучения
        p.page__text Этот содержательный курс даст вам именно те знания, которые вы ищете. Он поможет вам обрести уверенность и стать более компетентным в своей сфере. Не откладывайте ваше развитие и профессиональный рост на потом - запишитесь на курс, и уже сегодня вы станете на шаг ближе к своей мечте.
        br
        .social
            img.page__img(src="img/banner_01.jpg")
            img.page__img(src="img/banner_02.jpg")
            img.page__img(src="img/banner_03.jpg")
        br
        p.page__text Этот содержательный курс даст вам именно те знания, которые вы ищете. Он поможет вам обрести уверенность и стать более компетентным в своей сфере. Не откладывайте ваше развитие и профессиональный рост на потом - запишитесь на курс, и уже сегодня вы станете на шаг ближе к своей мечте.
        .banner
            h2.page__title.banner__title.
                Полный курс кулинарного дела<br>
                КУЛИНАР ЭКСПЕРТ<br>
            span.banner__span Повар 6-го разряда
            svg.banner__play(viewBox="0 0 105 120", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink")
                path(fill-rule="evenodd", stroke="rgb(255, 255, 255)", fill="#051fa5", stroke-width="3px", stroke-linecap="butt", stroke-linejoin="miter", d="M2.020,114.881 L2.020,1.858 L99.901,58.369 L2.020,114.881 Z")
            img.banner__img(src="img/kok.jpg")
            form.banner__form.form
                input.form__input(placeholder="Имя")
                input.form__input(placeholder="Email")
                div.form__checkbox
                    input.form__check(id="toggle-2", type="checkbox")
                    label.form__label(for="toggle-2")
                    |Согласие на обработку персональных данных
                label.submit.form__submit
                    input.submit__input(type="submit")
                    b.submit__first Начать обучение бесплатно
                    |и посмотреть свой будущий диплом
                    span.submit__date сегодня 25.04.2019
        .social
            a.social__link(href="#")
                i.fa.fa-facebook.fa-lg
            a.social__link(href="#")
                i.fa.fa-vk.fa-lg
            a.social__link(href="#")
                i.fa.fa-odnoklassniki.fa-lg
            a.social__link(href="#")
                i.fa.fa-twitter.fa-lg
            a.social__link(href="#")
                i.fa.fa-linkedin.fa-lg
            a.social__link(href="#")
                i.fa.fa-tumblr.fa-lg
            a.social__link(href="#")
                i.fa.fa-pinterest.fa-lg
            a.social__link(href="#")
                i.fa.fa-reddit-alien.fa-lg
        footer.footer
            a.footer__link(href="#") ВОЙТИ В ЛИЧНЫЙ КАБИНЕТ<br>
            a.footer__link(href="#") УЗНАТЬ БОЛЬШЕ ОБ НБУ<br>
            a.footer__link(href="#") ВЫБРАТЬ СФЕРУ ОБУЧЕНИЯ<br>
            a.footer__link(href="#") УЗНАТЬ СТОИМОСТЬ<br>
            a.footer__link(href="#") КОНТАКТЫ<br>
            span.footer__text профессиональные курсы с 2001 года


