html, body, ul, li, a, h1, h2, h3, p {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.page {
  font-size: 35px;
  padding-bottom: 0px;
  font-family: Roboto;
  color: #989898;
  background: white;
  text-align: center;
}
.page__title {
  padding: 30px 0px 10px;
  color: #051fa5;
  font-size: 35px;
  text-align: center;
  margin: auto;
}
.page__subtitle {
  font-size: 20px;
  margin: auto;
  width: 1100px;
}
.page__span {
  font-size: 23px;
  text-align: center;
  display: block;
  margin: auto;
}
.page__text {
  padding: 10px 0px;
  text-align: justify;
  text-align-last: justify;
  padding: 0px;
  margin: auto;
  width: 1100px;
}
.page__img {
  display: inline-block;
  margin: auto;
}

.header {
  width: 700px;
  text-align: center;
  margin: auto;
  padding-bottom: 10px;
}
.header__title {
  font-size: 40px;
}
.header__sub {
  font-size: 23px;
}

.banner {
  position: relative;
  margin: 0px auto 50px;
  width: 730px;
  color: white;
}
.banner__play {
  position: absolute;
  top: 30%;
  left: 40%;
  width: 20%;
}
.banner__span {
  color: #989898;
  font-size: 25px;
  padding-bottom: 10px;
}
.banner__title {
  font-size: 40px;
}
.banner__img {
  width: 100%;
  display: block;
}
.banner__form {
  background-color: #989898;
}

.form {
  padding-top: 10px;
  font-size: 20px;
}
.form__input {
  display: block;
  width: 90%;
  margin: auto;
  box-sizing: border-box;
  margin-top: 20px;
  height: 85px;
  font-size: 40px;
  padding-left: 20px;
}
.form__input:focus {
  border-color: #051fa5;
  outline-color: #051fa5;
}
.form__checkbox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  width: 90%;
  margin: auto;
  padding: 10px 0px;
}
.form__submit {
  width: 100%;
  display: block;
}
.form__check {
  display: none;
}
.form__check:checked + label {
  background: #051fa5;
  border-color: #051fa5;
}
.form__check:checked + label:after {
  transform: scale(1.3);
}
.form__label {
  margin-right: 20px;
  z-index: 99;
  display: inline-block;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  background: #fff;
  border: 1px solid #7A7A7A;
  border-radius: 10%;
  position: relative;
  cursor: pointer;
  transition: 0.2s;
}
.form__label:before {
  content: "";
  position: absolute;
  display: block;
  height: 300%;
  width: 300%;
  top: -100%;
  left: -100%;
  z-index: -1;
  border-radius: 50%;
  transition: 0.3s;
}
.form__label:after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  background: url(https://cbwconline.com/IMG/Codepen/Check.svg) center center no-repeat;
  background-size: contain;
  transform: scale(0);
  transition: 0.2s;
}
.form__label:active:before {
  background: #ffffff;
}

.submit {
  cursor: pointer;
  padding: 30px 0px;
  background-color: #051fa5;
  font-size: 30px;
  text-align: center;
}
.submit__input {
  display: none;
}
.submit__first {
  font-weight: bold;
  font-size: 35px;
  text-align: center;
  display: block;
}
.submit__date {
  line-height: 35px;
  font-size: 20px;
  display: block;
  font-weight: 100;
}

.social {
  margin: 30px auto;
  width: 730px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  background-color: #989898;
  color: white;
}
.social__link:hover {
  background-color: #051fa5;
}

.footer {
  padding: 15px 0px;
  background-color: #989898;
  width: 100%;
  color: white;
  font-size: 23px;
  line-height: 40px;
  text-align: center;
}
.footer__link {
  color: white;
}
.footer__link:hover {
  color: #051fa5;
}
.footer__text {
  font-size: 15px;
}

@media screen and (max-width: 1280px) {
  .page__text, .page__subtitle {
    width: 90%;
  }
}
@media screen and (max-width: 768px) {
  .banner {
    width: 90%;
  }

  .header {
    width: 90%;
  }

  .social {
    text-align: center;
    width: 90%;
    flex-wrap: wrap;
  }
  .social__link {
    width: 20vw;
    height: 20vw;
    margin-bottom: 5vw;
  }
.banner__play {
    top: 100vw;
}
}

/*# sourceMappingURL=style.css.map */
