
body {
	margin: 0px;
	padding: 0px;
}
.header {
	z-index: 2;
	display: block;
	position: absolute;
	top: 0px;
	width: 100%;
	height: 7vw;
	background-image: url('img/back.jpg');
	background-position: top center;
	background-size: cover;
}
.navigation {
	z-index: 5;
	height: 7vw;
	margin: auto;
	width: 65%;
	-webkit-display: flex;
	-webkit-flex-direction: row;
	-webkit-justify-content: space-between;
	-webkit-align-items:  center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.logo {
	z-index: 5;
	width: 22vw;
	position: relative;
	margin-top: 2vw;
	margin-left: -6vw;
	margin-right: -1vw;
}
.nav_item {
	text-decoration: none;
	position: relative;
	z-index: 5;
	cursor: default;
	text-align: center;
	font-family: 'raleway';
	text-transform: uppercase;
	letter-spacing: 0.2vw;
	font-size: 1vw;
	padding-top: 1vw;
	color: white;
}
.nav_item:after {
	line-height: 1.5vw;
	font-size: 2vw;
	content: "\ad \2022 ";
	color: transparent;
}
.nav_item:hover {
	color: #e69e62;
}
.nav_item:hover:after {
	color: #e69e62;
}
.brphone {
	display: none;
}
.title {
	position: relative;
	z-index: 5;
	font-family: 'Handelson';
	font-weight: 400;
	font-size: 6.5vw;
	line-height: 3.5vw;
}
.title_center {
	text-align: center;
	margin: auto;
	color: #9b9b9d;
}

.part_1__title {
	position: relative;
	z-index: 10;
	margin-top: 25vh;
	margin-bottom: 1vh;
	text-align: center;
	font-size: 8vh;
	height: 34vh;
	font-weight: 400;
	letter-spacing: 1vh;
	font-family: 'journalism';
	color: white;
	text-shadow: 2px -5px 15px black, -2px -5px 15px black;

}
.part_1__title span {
	font-family: 'Handelson';
	color: #e69e62;
	transition: 1s cubic-bezier(0, -2, 1, 2);
}
.part_1__title .world_text {
	font-size: 0vh;
}
.part_1__over {
	position: absolute;
	height: 63vw;
	z-index: 0;
	transition: 2s cubic-bezier(0, -2, 1, 3);
	top: 0%;
	left: 0%;
	width: 100%;
}
.part_1__lover {
	top: -10%;
	left: -10%;
	width: 120%
}
.part_1__dots {
	top: 0px;
	position: absolute;
	width: 100%;
}
.part_1__dot_2 {
	top: 0px;
	position: absolute;
	width: 78%;
	left: 13%;
	height: auto;
}
.part_1__lavash {
	height: 75vh;
	width: 122vh;
	left: calc( 50% - 62vh );
	bottom: -12vh;
	position: absolute;
	transition: 2s cubic-bezier(0, -2, 1, 0.5);
}
.part_1__lavash_before{
	bottom: -100%;
}
.part_1__bottom {
	bottom: 0%;
	width: 100%;
	position: absolute;
	transition: 2s cubic-bezier(0, -2, 1, 0.5);
}
.part_1__bottom_before{
	bottom: -10%;
}
.part_1__corns {
	z-index: 3;
	width: 30vw;
	top: 0%;
	right: 0%;
	position: absolute;
	transition: 1s cubic-bezier(0, 0.5, 1, 2);
}
.part_1__corns_before{
	height: 0vh;
}
.part_1__corn_1 {
	top: 58%;
	right: 10%;
	height: 15vh;
	position: absolute;
	transform: rotate(0deg);
	transition: 1.5s ease;
}
.part_1__corn_1_before{
	top: 51%;
	right: 5%;
	height: 0vh;
	transform: rotate(-90deg);
}
.part_1__corn_2 {
	top: 72%;
	right: 20%;
	height: 25vh;
	position: absolute;
	transform: rotate(0deg);
	transition: 2s ease;
}
.part_1__corn_2_before{
	top: 60%;
	right: 15%;
	height: 0vh;
	transform: rotate(90deg);
}
.part_1 {
	position: relative;
	width: 100%;
	overflow: hidden;
	height: 100vh;
	background: url('img/back.jpg');
	background-size: cover;
	background-position: bottom center;
}
.part_1__donate {
	position: relative;
	text-align: center;
	width: 50vh;
	height: 50vh;
	background-color: white;
	border-radius: 25vh;
	left: calc(50vw - 25vh);
	margin-top: 10vh;
	text-transform: uppercase;
	font-family: 'raleway';
	font-size: 2vh;
	line-height: 3vh;
	letter-spacing: 1vh;
	color: black;
}
.donat_k {
	width: 35%;
}
.donat_r {
	filter: grayscale(1) brightness(0);
}
.donat_r:hover {
	filter: grayscale(0) brightness(1);
}
.part_2 {
	position: relative;
	width: 100%;
	padding-bottom: 20px;
	overflow-x: hidden;
	background: white;
	background-size: cover;
	background-position: center center;
	overflow-y: hidden;
}
.part_2__title {
	line-height: 5vw;
	margin-bottom: 3vw;
	margin-top: 1.5vw;
}
.part_2__left {
	z-index: 2;
	position: absolute;
	bottom: 20%;
	right: calc( 52% - 150px);
}
.part_2__right {
	width: 480px;
	height: 620px;
	position: relative;
	margin-left: 54%;
	z-index: 1;
	background-image: url('img/texture.png');
	background-size: cover;
	background-position: center center;
	font-family: 'raleway';
	font-size: 12px;
	line-height: 20px;
}
.advantages {
	width: 90%;
	height: 92%;
	top: 4%;
	background-color: white;
	position: relative;
	margin: auto;
	-webkit-display: flex;
	-webkit-flex-direction: column;
	-webkit-justify-content: center;
	-webkit-align-items:  flex-start;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}
.adv_img {
	width: 60px;
	margin-right: 40px;
}
.adv_item {
	padding: 10px 40px;
	-webkit-display: flex;
	-webkit-flex-direction: row;
	-webkit-justify-content: space-between;
	-webkit-align-items:  center;
	-webkit-flex-wrap: nowrap;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: nowrap;
}
.adv_item__text {
	text-align: center;
	color: #634036;
}
.part_3__title {
	margin-top: 9vw;
	margin-bottom: 1vw;
}
.part_3__over {
	position: absolute;
	width: 100%;
	height: 62vw;
	z-index: 0;
	left: 0px;
	top: 0px;
	transition: 0.5s ease-in;
}
.part_3__lover{
	left: -10%;
	top: -10%;
	width: 120%
}
.over__img {
	width: 100%;
}
.title_right {
	margin-left: 52%;
	color: #9b9b9d;
}
.part_3 {
	position: relative;
	width: 100%;
	overflow: hidden;
	height: 63vw;
	background: url('img/back_one.jpg');
	background-size: cover;
	background-position: top center;
}
.lavash {
	z-index: 90;
	position: relative;
	height: 33vw;
	width: 33vw;
	margin-left: 33vw;
	margin-top: 5vw;
}
.lavash_item {
	text-align: center;
	width: 70%;
	position: absolute;
	font-family: 'raleway';
	font-weight: 400;
	font-size: 1vw;
	color: white;
}
.journal {
	font-family: 'journalism';
	font-weight: 300;
}
.lavash_item__title {
	font-size: 2vw;
	color: white;
	margin-bottom: 1vw;
	letter-spacing: 0.2vw;
}
.lavash_item__href {
	text-decoration: none;
	color: #e69e62;
	letter-spacing: 0.5vw;
    font-size: 1.5vw;
	filter: grayscale(0) brightness(1);
	transition: 0.2s ease;
}
.lavash_item__href:hover {
	filter: grayscale(1) brightness(1.3);
}
.lavash__img {
	width: 15vw;
	position: absolute;
	filter: sepia(0) brightness(1) hue-rotate(0deg);
	transition: 0.1s ease;
}
.lavash__img:hover {
	width: 15.5vw;	
	filter: sepia(0.3) brightness(0.8) contrast(1.7) hue-rotate(-5deg);
}
.lavash__arrow {
	position: absolute;
	max-height: 5vw;
}
.arrow__01 {
	margin-top: -2.5vw;
	margin-left: 8vw;
}
.arrow__02 {
	margin-top: 1.5vw;
	margin-left: 29vw;
}
.arrow__03 {
	margin-top: 15vw;
	margin-left: -5vw;
}
.arrow__04 {
	margin-top: 33vw;
	margin-left: 8vw;
}
.arrow__05 {
	margin-top: 30vw;
	margin-left: 25vw;
}
.lavash__01 {
	margin-top: 1vw;
	margin-left: 6vw;
}
.lavash__02 {
	margin-top: 3vw;
	margin-left: 18vw;
}
.lavash__03 {
	margin-top: 7.5vw;
	margin-left: 2vw;
}	
.lavash__04 {
	margin-top: 18vw;
	margin-left: 4vw;
}
.lavash__05 {
	margin-top: 17vw;
	margin-left: 18vw;
}	
.product_1 {
	margin-top: -12vw;
	margin-left: -14vw;
}
.product_2 {
	margin-left: 34vw;
}
.product_3 {
	margin-top: 5vw;
	margin-left: -30vw;
}
.product_4 {
	margin-top: 25vw;
	margin-left: -20vw;
}
.product_5 {
	margin-top: 23vw;
	margin-left: 32vw;
}
.subsection {
	position: absolute;
	z-index: 2;
	width: 100%;
}
.subone {
	margin-top: -18vw;
}
.subtwo {
	margin-top: -13vw;
}
.subsection img{
	width: 100%;
}
.part_4__title {
	z-index: 2;
	position: relative;
	margin-top: 1.5vw;
	margin-bottom: 1vw;
}
.part_4 {
	position: relative;
	width: 100%;
	overflow-x: hidden;
	background: white;
	background-size: cover;
	background-position: center center;
	overflow-y: hidden;
	padding-bottom: 50px;
}
.part_4__over {
	position: absolute;
	width: 100%;
	height: 62vw;
	z-index: 2;
	left: 0px;
	top: 0px;
	transition: 0.1s ease-in;
	margin-top: calc( -200px + 10.5vw );
}
.part_4__left {
	position: absolute;
	margin-top: 200px;
	right: 48%;
}
.part_4__right {
	position: absolute;
	margin-left: 52%;
}
.history {
	margin: auto;
	margin-top: -40px;
	width: 615px;
	-webkit-display: flex;
	-webkit-flex-direction: row;
	-webkit-justify-content: center;
	-webkit-align-items:  flex-start;
	-webkit-flex-wrap: wrap;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
	overflow-y: hidden;
}
.history__item {
	flex-shrink: 0;
	position: relative;
	z-index: 2;
	width: 49%;
	text-align: center;
	color: #634036;
	font-family: 'raleway';
	font-size: 12px;
}
.history__item:nth-child(2) {
	margin-top: 130px;
}
.history__item:nth-child(3) {
	margin-top: -162px;
	border-right: 1px dashed #634036;
}
.history__item:nth-child(1) {
	border-right: 1px dashed #634036;
}
.history__year {
	color: #e69e62;
	font-size: 35px;
	margin-top: 10px;
	margin-bottom: 0px;
}
.history__title {
	font-size: 35px;
	margin-top: 15px;
	margin-bottom: 44px;
}
.history__info {
	width: 80%;
	margin: auto;
	margin-bottom: 80px;
}
.part_5 {
	width: 100%;
	overflow: hidden;
	height: 63vw;
	background: url('img/back_two.jpg');
	background-size: cover;
	background-position: top center;
}
.part_5__title {
	margin-top: 6vw;
	margin-bottom: 2vw;
	line-height: 6vw;
}
.part_5__videoblock {
	margin: auto;
	width: 59vw;
}
.part_5__videoblock .videoblock__play{
	fill: rgba(0,0,0,0);
	width: 103px;
	transition: 0.2s cubic-bezier(0,-1,1,2);
}
.part_5__videoblock:hover .videoblock__play{
	width: 130px;
	fill: rgba(255,255,255,1);
}
.videoblock__img {
	width: 100%;
	z-index: 1;
	position: relative;
	box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.8);
}
.videoblock__play {
	margin: auto;
	display: block;
	position: relative;
	z-index: 2;
	height: 118.5px;
	margin-top: calc(-103px - 15vw);
}
.videoblock__video {
	position: absolute;
	width: 60vw;
	height: 34.8vw;
	z-index: 20;
	display: none;
}

.part_6 {
	position: relative;
	width: 100%;
	overflow-x: hidden;
	background: white;
	background-size: cover;
	background-position: center center;
	overflow-y: hidden;
}
.part_6__title {
	line-height: 5vw;
	margin-bottom: 1vw;
	margin-top: 1.5vw;
}
.part_6__left {
	z-index: 2;
	position: absolute;
	right: 57%;
}
.legend {
	width: 667px;
	margin-left: 46%;
	text-align: left;
	color: #634036;
	font-family: 'raleway';
	font-size: 12px;
	line-height: 20px;
}
.legend__img {
	padding-left: 0px;
	width: 130px;
	padding-right: 15px;
}
.mondial {
	margin-top: 25px;
	-webkit-display: flex;
	-webkit-flex-direction: row;
	-webkit-justify-content: center;
	-webkit-align-items:  flex-start;
	-webkit-flex-wrap: nowrap;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: nowrap;
	letter-spacing: 1px;
	line-height: 35px;
}
.part_7 {
	position: relative;
	height: 56vw;
	width: 100%;
	background-image: url('img/back_three.jpg');
	background-size: cover;
	background-position: top center;
	margin-bottom: 0px;
}
.part_7__title {
	padding-top: 7.5vw;
	color: gray;
	margin-bottom: 0.5vw;
}
.product {
	width: 60vw;
	margin: auto;
	-webkit-display: flex;
	-webkit-flex-direction: row;
	-webkit-justify-content: flex-start;
	-webkit-flex-wrap: wrap;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
}
.product_item {
	width: 17vw;
	height: 28vw;
	background: rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5) inset;
	border: 2px solid white;
	transition: 0.2s ease;
	margin: auto;
	margin-left: 0px;
	margin-bottom: 15px;
	-webkit-display: flex;
	-webkit-flex-direction: column;
	-webkit-justify-content: space-between;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.product_item:hover {
	box-shadow: 0px 300px 10px 10vw rgba(0, 0, 0, 0.5)inset;
}
.product_item__jpg {
	width: 19vw;
	position: relative;
	left: -1vw;
	top: 2vw;
}
.product_item__text {
	font-family: 'raleway';
	text-align: center;
}
.product_item__text img{
	margin: 1vw auto;
}
.footer {
	width: 50%;
	margin: auto;
	height: 7vw;
	position: relative;
	margin-top: -7vw;
	-webkit-display: flex;
	display: flex;
	-webkit-justify-content: space-between;
	-webkit-align-items: center;
	justify-content: space-between;
	align-items: center;
}
.footer_text {
	font-family: 'raleway';
	font-size: 1vw;
	line-height: 1.5vw;
	letter-spacing: 0.1vw;
	color: black;
}
.footer_center {
	font-family: 'RexBoldInline';
	font-size: 2vw;
	color: black;
}
@media screen and (min-width: 815px) and (max-width: 1240px) {
.header {
	height: 12vw;
	z-index: 12;
}
.navigation {
	width: 90%;
	margin-left: 5vw;
	-webkit-justify-content: flex-end;
	-webkit-align-items: flex-end;
	-webkit-flex-wrap: wrap;
	justify-content: flex-end;
	align-items: flex-end;
	flex-wrap: wrap;
}
.nav_item {
	top: -6vw;
	height: 3.5vw;
	width: 25vw;
	font-size: 2vw;
}
.nav_item:after {
	font-size: 2vw;
}
.part_1__corns {
	display: none;
}
.part_6__left {
	position: absolute;
	right: 70%;
}
.legend {
	width: 60%;
	margin-left: 35%;
	font-family: 'raleway';
}
}
@media screen and (max-width: 814px) {
.header {
	position: fixed;
	z-index: 99;
	height: 100%;
	background: url('img/back.jpg');
	transition: 0.5s ease-in;
}
.header_hidden {
	height: calc(5vw + 30px);
}
.navigation {
	width: 100%;
	height: 100vh;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}
.navigation_hidden {
	height: 0vh;
	transition: 0.2s ease-in;
}
.logo {
	margin-top: 0px;
	width: calc(20vw + 100px);
	align-self: flex-end;
}
.nav_item {
	top: -6vw;
	padding-bottom: 1vh;
	width: 95%;
	font-size: 25px;
	text-align: left;
	padding-left: 5%;
	border-bottom: 2px dashed white;
	filter: opacity(1);
	height: auto;
	transition: 0.2s ease-in;
}
.nav_item_hidden {
	border-bottom: 0px solid transparent;
	position: absolute;
	top: -25vh;
	height: 1px;
	z-index: -1;
	filter: opacity(0);
}
.nav_item:after {
	font-size: 25px;
}
.part_1__corns {
	display: none;
}
.history {
	margin-top: -40px;
	width: 90%;
}
.history__info {
	width: 95%;
}
.part_6__left {
	position: absolute;
	z-index: 1;
	width: 90%;
	left: 5%;
}
.legend {
	position: relative;
	z-index: 2;
	background: linear-gradient( rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 1) 50%); 
	width: 90%;
	margin-left: 5%;
	margin-top: -13vw;
	padding-top: 13vw;
	font-family: 'raleway';
}
.part_2__left {
	position: absolute;
	z-index: 1;
	width: 90%;
	top: 10%;
	left: 5%;
}
.part_2__right {
	position: relative;
	z-index: 2;
	background: linear-gradient( rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%); 
	width: 90%;
	margin-left: 5%;
	margin-top: -13vw;
	padding-top: 13vw;
	font-family: 'raleway';
}
.advantages {
	background: none;
	background-size: cover; 
	-webkit-justify-content: flex-end;
	justify-content: flex-end;
}
.adv_item__text {
	border: 1px solid #634036;
	background: linear-gradient( rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 1) 50%); 
	border-radius: 4px;
}
.videoblock__play{
	margin-top: calc(-50px - 20vw);
}
.part_5__videoblock .videoblock__play{
	fill: rgba(0,0,0,0);
	width: 50px;
	transition: 0.2s cubic-bezier(0,-1,1,2);
}
.part_5__videoblock:hover .videoblock__play{
	width: 60px;
	fill: rgba(255,255,255,1);
}
}
@media screen and (orientation: portrait) and (max-width: 500px) {

.brphone {
	display: inline;
}

.part_1__corn_1 {
	right: -5%;
}
.part_1__corn_1_before{
	right: -10%;
	height: 15vh;
	height: 0vh;
	transform: rotate(-90deg);
}
.part_1__corn_2 {
	top: 50%;
	right: 100%;
}
.part_1__corn_2_before{
	top: 20%;
	right: -15%;
	height: 15vh;
	transform: rotate(180deg);
}

.part_1__lavash {
	height: 50vh;
	width: 81vh;
	left: calc( 50% - 40vh );
	bottom: -5vh;
	position: absolute;
	transition: 2s cubic-bezier(0, -2, 1, 0.5);
}
.part_1__corns {
		height: 20vh;
}
body {
	width: 100vw;
	overflow-x: hidden;
}
.title {
	font-size: 60px;
	line-height: 35px;
}
.title_center {
	text-align: center;
	margin: auto;
	color: #9b9b9d;
}
.part_2__title {
	margin: 2vh auto;
	line-height: 40px;
	width: 80%;
}
.part_2__left {
	top: 100px;
}
.part_2__right {
	margin-left: 0px;
	width: 96%;
	position: relative;
}
.advantages {
}
.adv_img {
	margin-right: 10px;
}
.adv_item {
	padding: 0px;
	padding-top: 20px;
}
.part_3 {
	width: 100vw;
	position: relative;
	overflow: hidden;
	height: 100vh;
}
.part_3__title {
	margin-bottom: 1vh;
	margin-top: 15vh;
}
.part_3__over {
	position: absolute;
	height: 50vh;
	width: 100vw;
	z-index: 0;
	left: 0px;
	top: 0px;
	transition: 0.1s ease-in;
}
.part_3__lover{
	left: -120%;
	top: 20%;
	height: 60vh;
}
.over__img {
	height: 100%;
	width: auto;
}
.lavash {
	z-index: 1;
	position: absolute;
	height: 100vw;
	width: 100vw;
	left: 0vw;
	margin-left: 0vw;
	bottom: -50vw;
}
.lavash_item {
	width: 90%;
	font-size: 4vw;
}
.lavash_item__title {
	font-size: 10vw;
	margin-bottom: 1vh;
	letter-spacing: 0.2vh;
}
.lavash_item__href {
	letter-spacing: 0.5vw;
	font-size: 15px;
}
.lavash_item__href:hover {
	filter: grayscale(1) brightness(1.3);
}
.lavash__img {
	width: 50vw;
}
.lavash__img:hover {
	width: 50vw;
}
.lavash__arrow {
	max-height: 10vh;
}
.lavash__images {
	width: 100vw;
	height: 100vw;
	transform-origin: 45% 55%;
	transform: rotate( 0deg );
	transition: 0.5s ease;
}
.arrow__01 {
	margin-top: -10vh;
	margin-left: 55vw;
}
.arrow__02 {
	margin-top: 0vh;
	margin-left: -80vw;
}
.arrow__03 {
	margin-top: -10vh;
	margin-left: -50vw;
}
.arrow__04 {
	margin-top: -10vh;
	margin-left: -30vw;
}
.arrow__05 {
	margin-top: 1vh;
	margin-left: -50vw;
}
.lavash__01 {
	margin-top: 2vw;
	margin-left: 8vw;
}
.lavash__02 {
	margin-top: 10vw;
	margin-left: 50vw;
}
.lavash__03 {
	margin-top: 25vw;
	margin-left: -4vw;
}	
.lavash__04 {
	margin-top: 60vw;
	margin-left: 2vw;
}
.lavash__05 {
	margin-top: 58vw;
	margin-left: 50vw;
}	
.product_1 {
	margin-top: -95vh;
	margin-left: 5vw;
}
.product_2 {
	margin-top: -95vh;
	margin-left: 105vw;
}
.product_3 {
	margin-top: -95vh;
	margin-left: 205vw;
}
.product_4 {
	margin-top: -95vh;
	margin-left: 305vw;
}
.product_5 {
	margin-top: -95vh;
	margin-left: 405vw;
}

.part_4__title {
	margin-top: 2vh;
	position: relative;
	z-index: 4;
}
.part_4 {
	padding-bottom: 20px;
}
.part_4__over {
	width: 100%;
	height: 62vw;
	z-index: 2;
	margin-top: 0;
}
.part_4__left {
	position: absolute;
	margin-top: 60vh;
	right: 20%;
	width: 100%;
}
.part_4__right {
	position: absolute;
	margin-left: 20%;
	margin-top: 2vh;
	width: 100%;
}
.history {
	position: relative;
	margin-top: 5vh;
	width: 100%;
	z-index: 2;
	background: linear-gradient( rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 1) ); 
}
.history__item {
	width: 100%;
	margin-top: 0px;
}
.history__item:nth-child(2) {
	margin-top: 0px;
	border: none;
}
.history__item:nth-child(3) {
	margin-top: 0px;
	border: none;
}
.history__item:nth-child(1) {
	border: none;
}
.history__title {
	margin-bottom: 15px;
}
.history__info {
	margin-bottom: 30px;
}


.part_5 {
	width: 100%;
	height: 100vh;
}
.part_5__title {
	margin-top: 15vh;
	margin-bottom: 15vh;
	line-height: 8vh;
}
.part_5__videoblock {
	margin: auto;
	width: 100vw;
}
.part_5__videoblock .videoblock__play{
	fill: rgba(0,0,0,0);
	width: 50px;
	transition: 0.2s cubic-bezier(0,-1,1,2);
}
.part_5__videoblock:hover .videoblock__play{
	width: 60px;
	fill: rgba(255,255,255,1);
}
.videoblock__img {
	width: 100%;
}
.videoblock__play {
	margin-top: calc( -120px - 13vw);
}
.videoblock__video {
	position: absolute;
	width: 100vw;
	height: 69vw;
	z-index: 20;
	display: none;
}

.part_6__title {
	line-height: 8vh;
	margin-bottom: 1vw;
	margin-top: 4vh;
}
.part_6__left {
	width: 90%;
	margin-top: 50%;
	left: 5%;
}

.legend__img {
	padding-left: 0px;
	margin-left: calc ( 100vw - 140px);
	width: 130px;
	padding-right: 15px;
	display: block;
	float: right;
	position: relative;
	right: 0px;
}
.mondial {
	display: block;
	width: 100%;	
}
.part_7 {
	position: relative;
	height: 100vh;
	width: 100%;
	background-image: url('img/back_three.jpg');
	background-size: cover;
	background-position: top center;
}
.part_7__title {
	padding-top: calc( 20vh - 40px );
	padding-bottom: 5px;
}

.product { 
	width: 90vw;
	margin: auto;
	-webkit-display: flex;
	-webkit-flex-direction: column;
	-webkit-justify-content: space-between;
	-webkit-flex-wrap: nowrap;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-wrap: nowrap;
}
.product_item {
	width: 90vw;
	height: 17vh;
	background: rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5) inset;
	border: 2px solid white;
	transition: 0.2s ease;
	margin: auto;
	-webkit-display: flex;
	-webkit-flex-direction: row;
	-webkit-justify-content: space-between;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.product_item:hover {
	box-shadow: 300px 0px 10px 10vh rgba(0, 0, 0, 0.5)inset;
}
.product_item__jpg {
	height: 15vh;
	width: auto;
	position: relative;
	left: -1vw;
}
.product_item__title {
	text-align: center;
	font-size: 3vh;
}
.product_item__title img{
	margin: 1vw auto;
}
.footer {
	width: 90%;
	margin: auto;
	height: 15vh;
	position: relative;
	margin-top: -15vh;
	-webkit-display: flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: space-between;
	-webkit-align-items: center;
	justify-content: space-between;
	align-items: center;
}
.footer_text {
	order: 2;
	font-family: 'raleway';
	font-size: 2vh;
	line-height: 3vh;
	letter-spacing: 0.2vh;
	color: black;
}
.footer_center {
	order: 1;
	font-family: 'RexBoldInline';
	font-size: 5vh;
	color: black;
}

.part_1__over {
	height: 100vh;
}
.part_1__dots {
	top: 0px;
	position: absolute;
	height: 100%;
	width: auto;
}
}
.part_1__lavash_before{
	bottom: -100%;
}