.page {
    background-color: #fbfbfb;
    font-family: 'raleway';
    font-size: 16px;
    color: #24262c;
}
.dots_2 {
    margin-top: 1vh;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 2;  
}
.dots_2 img {
    width: 100%;
}
.breadcrumb {
    padding-left: 15vw;
    padding-top: 15vh;
    margin-bottom: 50px;
}
.home_icon {
    width: 20px;
}
.crumb__item {
    font-size: 15px;
    letter-spacing: 1px;
    font-family: 'raleway';
    display: inline;
}
.crumb__item:before {
    content: ' / ';
}
.page_header {
    background: url('img/dots_2.png'), url('img/back.jpg');
    background-position: top right;
    z-index: 12;  
}
.recepts {
    position: relative;
    z-index: 10;
    margin-bottom: calc( 30px + 15vh);
}
.page_title {
    font-weight: 100;
    width: 70vw;
    margin: auto;
    text-align: center;
    color: #e69e62;
    margin-bottom: 50px;
}
.product {
    width: 70vw;
}
.product_item {
    width: 17vw;
    margin-left: 2vw;
}
@media screen and (orientation: portrait) and (max-width: 500px) {
    .breadcrumb {
        margin-left: -5vw;
        padding-left: 0vw;
        padding-top: 10vh;
    }
    .product {
        width: 90vw;
    }
    .product_item {
        width: 90vw;
        margin-left: 0vw;
    }
}

.recept {
    margin:auto;
    width: 70vw;
    -webkit-display: flex;
    -webkit-justify-content: flex-start;
    -webkit-align-items: flex-start;
    -webkit-flex-wrap: wrap;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}
.recept__img {
    width: 48%;
    margin-right: 4%;
}
.recept__part {
    width: 48%;
}
.recept__full {
    width: 100%;
}
.container {
    width: 100%;
    line-height: 30px;
    padding: 20px 0px;
    border-top: 1px solid #e69e62;
    border-bottom: 1px solid #e69e62;
    color: #634036;
}
.info_left {
    display: inline-block;
    width: 45%;
}
.subtitle {
    color: #634036;
    margin: 20px 0px;
    padding: 15px 0px;
    display: block;
    border: 2px solid transparent;
    border-image: linear-gradient(to left, transparent 0%, #cccccc 100%);
    border-image-slice: 1;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 20px;
}
.subtitle:after {
    content: '\A ';
    position: absolute;
    width: 30px;
    height: 15px;
    border: 3px solid #e69e62;
    border-image-slice: 1;
    border-top: none;
    border-left: none;
    border-right: none;
}
.info__ul {
    list-style: none;
    padding-left: 0px;
}
.info__item {
    margin-top: 8px;
    margin-left: 0px;
    padding-left: 30px;
    background: url('img/icon.png');
    background-size: 16px auto;
    background-repeat: no-repeat;
    background-position: top left;
}
.info__text {
    line-height: 22px;
}
@media screen and (max-width: 1024px) {
.recept {
    margin:auto;
    width: 90vw;
}
.recept__img {
    width: 100%;
}
.recept__part {
    width: 45%;
    margin-right: 5%;
}
}
@media screen and (max-width: 500px) {
.recept__part {
    width: 100%;
    margin-right: 0%;
}
}
.dops {
    background-image: url('img/back_four.jpg');
}
.dops_title {
	padding-top: 9.5vw;
	margin-bottom: 3vw;
    color: #24262c;
}
.product_dop {
    width: 70vw;
}
.dop_item {
    position: relative;
    z-index: 5;
    width: 15vw;
    height: 25vw;
    background-color: #ffffff;
    border-radius: 1vw;
    margin: auto;
	margin-bottom: 15px;
	-webkit-display: flex;
	-webkit-flex-direction: row;
    -webkit-justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -webkit-align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.sale:before {
    position: absolute;
    margin-top: -11vw;
    color: white;
    font-weight: 600;
    line-height: 3vw;
    text-align: center;
    content: ' % ';
    width: 2vw;
    height: 3vw;
    border-top-left-radius: 1vw;
    border-bottom-right-radius: 1vw;
    background-color: #e69e62;
    font-size: 1vw;
}

.sale1:before {
    position: absolute;
    margin-top: -11vw;
    color: white;
    font-weight: 600;
    line-height: 3vw;
    text-align: center;
    content: ' % ';
    width: 2vw;
    height: 3vw;
    border-top-left-radius: 1vw;
    border-bottom-right-radius: 1vw;
    background-color: #e69e62;
    font-size: 1vw;
}
.dop_item__img {
    margin: 0px auto;
    height: 60%;
}
.dop_item__title {
    font-size: 1vw;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
}
.dop_item__left {
    font-size: 0.9vw;
    text-align: right;
    font-weight: bold;
    padding-left: 1vw;
}
.button {
    font-size: 1vw;
    text-align: center;
    padding: 1vw;
    color: #e69e62;
    border-radius: 2vw;
    border: 1px solid #e69e62;
    background-color: #ffffff;
    text-decoration: none;
    transition: 0.2s ease-in;
}
.button:hover {
    color: #ffffff;
    background-color: #e69e62;
}
.dop_item__right {
    margin-right: 1vw;
}
@media screen and (orientation: portrait) and (max-width: 500px) {
.dops {
    height: 120vh;
    overflow-y: hidden;
}

.dops_title {
    margin-top: 0vh;
    position: sticky;
    left: 1vw;
    margin-bottom: 8vh;
}
.product_dop {
    width: 400vw;
	-webkit-display: flex;
	-webkit-flex-direction: row;
	-webkit-justify-content: flex-start;
	-webkit-flex-wrap: wrap;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
}
.dop_item {
    width: 80vw;
    height: 120vw;
    background-color: #ffffff;
    border-radius: 5vw;
    margin: auto;
	margin-bottom: 15px;
	-webkit-display: flex;
	-webkit-flex-direction: row;
    -webkit-justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -webkit-align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.sale:before {
    margin-top: -50.5vw;
    font-size: 5vw;
    line-height: 20vw;
    width: 15vw;
    height: 20vw;
    border-top-left-radius: 5vw;
    border-bottom-right-radius: 5vw;
}
.dop_item__img {
    margin: 0px auto;
    height: 60%;
}
.dop_item__title {
    font-size: 5vw;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
}
.dop_item__left {
    font-size: 5vw;
    text-align: right;
    font-weight: bold;
    padding-left: 3vw;
}
.button {
    font-size: 6vw;
    text-align: center;
    padding: 5vw;
    color: #e69e62;
    border-radius: 5vw;
    border: 1px solid #e69e62;
    background-color: #ffffff;
    text-decoration: none;
    transition: 0.2s ease-in;
}
.button:hover {
    color: #ffffff;
    background-color: #e69e62;
}
.dop_item__right {
    margin: auto;
}
}


.contact {
    line-height: 25px;
    margin:auto;
    width: 60vw;
    -webkit-display: flex;
    -webkit-justify-content: space-between;
    -webkit-align-items: flex-start;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 200px;
}
.contact_left {
    width: 58%;
    margin-right: 2%;
    -webkit-display: grid;
    -webkit-grid-template-columns: repeat(2, 1fr);
	-webkit-grid-template-rows: 1fr 1fr 1fr auto; 
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}
.contact_info{
    background-repeat: no-repeat;
    background-position: 0px 5px;
    padding-left: 50px;
    height: 60px;
}
.contact_left__adress {
    grid-row: 1;
    grid-column: 1 /span 2;
    background-image: url('img/geo_icon.png');
}
.contact_left__phone {
    grid-row: 2;
    grid-column: 1;
    background-image: url('img/phone_icon.png');
}
.contact_left__mail {
    grid-row: 3;
    grid-column: 1;
    background-image: url('img/mail_icon.png');
}
.contact_left__req {
    grid-row: 2 / span 3;
    grid-column: 2;
    background-image: url('img/req_icon.png');
}
.contact_left__info {
    grid-row: 4;
    grid-column: 1 / span 2;
}
.contact_form {
    z-index: 5;
    width: 40%;
    box-shadow: 0px 0px 10px 15px #f2f0f0;
    border-radius: 2vw;
    background-color: white;
}
.form__title {
    font-size: 30px;
    text-align: center;
    
    margin: 20px 0px;
    padding: 15px 0px;
    display: block;
    border: 2px solid transparent;
    border-image: linear-gradient(to left, transparent 0%, #cccccc 50%, transparent 100%);
    border-image-slice: 1;
    border-top: none;
    border-left: none;
    border-right: none;
}
.form__title:after {
    content: '\A ';
    position: absolute;
    margin-left: -20px;
    width: 40px;
    height: 15px;
    border: 3px solid #e69e62;
    border-image-slice: 1;
    border-top: none;
    border-left: none;
    border-right: none;
}
.form__input {
    margin-top: 20px;
    margin-left: 10%;
    width: calc( 80% - 30px );
    border-color: #f2f0f0;
    border-radius: 10px;
    line-height: 30px;
    color: black;
    letter-spacing: 1px;
    font-size: 16px;
    background-repeat: no-repeat;
    background-position: 5px 10px;
    border-style: solid;
    outline: none;
    padding-left: 30px;
}
.form__input:focus {
    background-color: rgba(240, 240, 255, 0.5);
}
.input_name {
    background-image: url('img/form_man.png');
}
.input_phone {
    background-image: url('img/form_phone.png');
}
.input_mail {
    background-image: url('img/form_mail.png');
}
.input_text{
    height: 100px;
    margin-bottom: 20px;
    padding-left: 10px;
    width: calc( 80% - 10px );
}
.input_text::placeholder {
    letter-spacing: 0.5px;
}
.form__button {
    font-size: 16px;
    width: 60%;
    margin-left: 20%;
    margin-bottom: 20px;
}
@media screen and (max-width: 1024px) {
    .contact {
        width: 95%;
    } 

}
@media screen and (max-width: 760px) {
.contact {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
} 
.contact_left {
    width: 100%;
    margin-right: 0%;
}
.contact_form {
    width: 100%;
    margin-right: 0%;
}
}
.score {
    width: 70vw;
    margin: auto;
    -webkit-display: flex;
    -webkit-flex-direction: row;
    -webkit-justify-content: flex-start;
    -webkit-align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}
.windows {
width: 25%;
}
.window {
    width: 200px;
    margin-bottom: 30px;
    border-radius: 5px;
    background-color: #f2f0f0;
}
.window:nth-child(1) {
    background-color: #d8d2d0;
}
.window__title {
    margin: auto;
    text-align: center;
    font-family: 'journalism';
    color: #634036;
    font-weight: 300;
    font-size: 30px;
    line-height: 45px;
}
.score_categories {
    padding: 10px 0px;
    list-style: none;
    margin: 0px;
    background-color: #ffffff;
}
.score_categories__item {
    padding-left: 15px;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 25px;
    position: relative;
    z-index: 5;
    transition: 0.2s ease;
}
.score_categories__item:hover {
    background-color: #e69e62;
    color: white;
    cursor: default;
}
.score_score {
    width: 75%;
}
.filter {
    width: 100%;
    font-family: 'raleway';
    font-size: 13px;
    -webkit-display: flex;
    -webkit-justify-content: space-between;
    -webkit-align-items: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.filter_select {
    position: relative;
    z-index: 5;
    margin-left: 20px;
    padding: 10px 15px;
    background: none;
    border-radius: 20px;
    border: 1px solid #d8d2d0;
    color: #aaa;
}
.filter_select:focus {
    outline: none;
    color: black;
}
.score__items {
    width: 100%;
    -webkit-display: flex;
    -webkit-flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}
.score__items .dop_item {
    margin: 1vh 2vw 1vh 0vw;
    border: 1px solid #f2f0f0;
    box-shadow: 0px 0px 15px 1px #d8d2d0;
}
.score__items .dop_item:hover {
    border: 1px solid #aaa;
}
.score__items .dop_item .dop_item__img {
   height: 40%;
   padding: 10% auto 20% auto;
}
@media screen and (max-width: 1024px) {
    .score {
        width: 95vw;
    }
    .windows {
        width: 200px;
        margin-right: 10px;
        }
    .window {
        width: 180px;
    }
    .filter_info {
    }
    .filter_select {
        margin-left: 0px;
    }
}
@media screen and (max-width: 700px) {
    .score__items {
        width: 100%;
        -webkit-display: flex;
        -webkit-flex-wrap: wrap;
        -webkit-flex-direction: column;
        -webkit-justify-content: flex-start;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: flex-start;
    }
    .score__items .dop_item {
        width: 100%;
        height: 100px;
        margin: 2vh 0vw 0vh 0vw;
        border: 1px solid #f2f0f0;
        box-shadow: 0px 0px 15px 1px #d8d2d0;
        -webkit-flex-wrap: wrap;
        -webkit-flex-direction: column;
        -webkit-justify-content: flex-start;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 0px;
    }
    .sale1:before {
        position: absolute;
        margin-top: -0px;
        margin-left: calc( -33vw + 15px);
        line-height: 20px;
        width: 4vw;
        height: 25px;
        border-radius: 3px;
        font-size: 12px;
    }
    .score__items .dop_item .dop_item__title {
        margin-top: 10px;
        width: 50%;
        font-size: 12px;
        margin-bottom: 30px;
    }
    .score__items .dop_item .dop_item__left {
        width: 50%;
        font-size: 8px;
        margin-left: 5px;
    }
    .score__items .dop_item .dop_item__right {
        font-size: 15px;
        margin-left: 5px;
        margin-top: -15px;
    }
    .score__items .dop_item:hover {
        border: 1px solid #aaa;
    }
    .score__items .dop_item .dop_item__img {
       height: 80px;
       padding: 10px 0% 10px 0%;
    }

}

@media screen and (max-width: 573px) {
 .score {       
     width: 95%;
    -webkit-display: flex;
    -webkit-flex-wrap: wrap;
    -webkit-flex-direction: column;
    -webkit-justify-content: flex-start;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    }
.windows {
    width: 100%;
    -webkit-display: flex;
    -webkit-flex-wrap: wrap;
    display: flex;
    flex-wrap: wrap;
    }
.window {
    width: 48%;
    margin: auto 1%;
}
.window:nth-child(1) {
    width: 100%;
}
.score_categories__item {
    font-size: 8px;
    line-height: 10px;
}
.score_score {
    width: 100%;
}
.filter {
    height: 100px;
}
.filter_info {
    margin-top: 1vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.score__items .dop_item .dop_item__title {
    margin-top: 10px;
    width: 70%;
    font-size: 12px;
    margin-bottom: 30px;
}

.score__items .dop_item .dop_item__right {
    fonr-size: 12px;
    padding: 5px;
}

.sale1:before {
    margin-top: -0px;
    margin-left: -45.5vw;
    line-height: 20px;
    width: 4vw;
    height: 25px;
    border-radius: 1px;
    font-size: 12px;
}
}
.score_product {
    margin: auto;
    width: 60vw;
    -webkit-display: flex;
    -webkit-flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 30px;
}
.product_carousel {
    width: 30vw;
}
.carousel {
    width: 30vw;
    -webkit-display: flex;
    -webkit-justify-content: space-between;
    align-items: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.carousel_up {
    border-radius: 5px;
    height: 30vw;
    background-color: white;
    box-shadow: 0px 0px 15px 1px #d8d2d0;
}
.carousel_down {
    margin-top: 2vw;
    height: 60px;
}
.arrow {
    margin: auto 1vw;
    position: relative;
    z-index: 5;
}
.carousel_center {
    width: 60%;
    transition: 0.2s ease;
}
.carousel_bottom {
    position: relative;
    z-index: 5;
    height: 100%;
    width: 30%;
    margin: auto;
    background-color: white;
    border-radius: 2px;
    border: 1px solid transparent;
    transition: 0.2s ease-in;
}
.carousel_bottom:hover {
    border: 1px solid #e69e62;
}
.carousel_bottom_active {
    border: 1px solid #e69e62;
}
.carousel_bottom__img {
    height: 90%;
    margin: auto;
    display: block;
    margin-top: 4%;
}
.product_info {
    width: 25vw;
    margin-left: 5vw;
}
.product_title {
    margin-top: 0px;
    margin-bottom: 10px;
    font-weight: 400;
    font-family: 'journalism';
    font-size: 30px;
}
.info_order {
    margin-top: 30px;
}
.order {
    margin-left: 5px;
    padding: 10px;
    border-radius: 30px;
    border: 1px solid #aaa;
}
@media screen and (max-width: 1024px) {
    .score_product {
        width: 95vw;
    }
.carousel {
    width: 40vw;
}
.product_carousel {
    width: 40vw;
}
.carousel_up {
    height: 40vw;
}
.product_info {
    width: 45vw;
}
}
@media screen and (max-width: 760px) {
    .score_product {
        width: 95vw;
    }
.carousel {
    width: 100%;
    margin-bottom: 60px;
}
.product_carousel {
    width: 95vw;
}
.carousel_up {
    height: 95vw;
}
.product_info {
    width: 100%;
}
}